.common-header {
	flex-shrink: 0;
	height: 120px;
	position: relative;
	z-index: 11;

	&.is-active {
		& > .wrap {
			box-shadow: 0 0 30px 0 rgba(53,53,55,.1);

			&:after {
				opacity: 1;
				transition: opacity .01s, top .01s 0s;
			}
		}

		&.open-nav1 {
			& > .wrap > .inner { height: 450px; }
			.nav > li:first-child {
				.sub { opacity: 1; }
				& > a { color: $btn-secondary-color; }
			}
			.sub-nav { display: flex; }
			.banner { display: block; }
		}
		&.open-nav2 {
			& > .wrap > .inner { height: 450px; }
			.nav > li:nth-child(2) {
				.sub { opacity: 1; }
				& > a { color: $btn-secondary-color; }
			}
			.sub-nav { display: flex; }
			.banner { display: block; }
		}
		&.open-nav3 {
			& > .wrap > .inner { height: 450px; }
			.nav > li:nth-child(3) {
				.sub { opacity: 1; }
				& > a { color: $btn-secondary-color; }
			}
			.sub-nav { display: flex; }
			.banner { display: block; }
		}
		&.open-nav4 {
			& > .wrap > .inner { height: 450px; }
			.nav > li:nth-child(4) {
				.sub { opacity: 1; }
				& > a { color: $btn-secondary-color; }
			}
			.sub-nav { display: flex; }
			.banner { display: block; }
		}
		&.open-nav5 {
			& > .wrap > .inner { height: 450px; }
			.nav > li:nth-child(5) {
				.sub { opacity: 1; }
				& > a { color: $btn-secondary-color; }
			}
			.sub-nav { display: flex; }
			.banner { display: block; }
		}
		&.open-nav6 {
			& > .wrap > .inner { height: 450px; }
			.nav > li:nth-child(6) {
				.sub { opacity: 1; }
				& > a { color: $btn-secondary-color; }
			}
			.sub-nav { display: flex; }
			.banner { display: block; }
		}
		&.open-search {
			& > .wrap > .inner { height: 430px; }
			.search .content {
				opacity: 1;
				transition: opacity .3s .1s;
				& > .wrap { display: flex; }
			}
		}
		&.open-menu {
			& > .wrap > .inner { height: 430px; }
			.menu .content {
				opacity: 1;
				transition: opacity .3s .1s;
				& > .wrap { display: flex; }
			}
		}
	}

	&.is-fixed {
		& > .wrap {
			width: 100%;
			background-color: rgba(255,255,255,.8);
			position: fixed;
			top: 0;
			left: 0;
			box-shadow: 0 0 30px 0 rgba(53,53,55,.1);

			&:after { top: 90px; }

			& > .inner {
				height: 90px;
				padding-top: 20px;
			}
		}

		.gnb { top: 20px; }

		.sub > .wrap { top: 50px; }

		.util-menu {
			& > li {
				.content {
					& > .wrap { top: 90px; }
				}

				& > a.join .add {
					top: -40px;
					opacity: 0;
				}
			}
		}

		.user-noti {
			top: 100px;
		}

		&.is-hidden {
			& > .wrap {
				box-shadow: none;
				transform: translateY(-100%);
			}
		}
	}

	&.is-noti { height: 170px; }

	&.is-active.is-noti {
		& > .wrap {
			&:after { top: 170px; }
		}

		&.is-fixed {
			& > .wrap {
				&:after { top: 140px; }
			}
		}
	}

	&.is-active.is-fixed {
		& > .wrap { background-color: #fff; }

		&.open-nav1 > .wrap > .inner { height: 420px; }
		&.open-nav2 > .wrap > .inner { height: 420px; }
		&.open-nav3 > .wrap > .inner { height: 420px; }
		&.open-nav4 > .wrap > .inner { height: 420px; }
		&.open-nav5 > .wrap > .inner { height: 390px; }
		&.open-menu > .wrap > .inner { height: 390px; }
		&.open-search > .wrap > .inner { height: 400px; }
	}

	& > .wrap {
		height: auto;
		background-color: #fff;
		transition: all .2s;

		&:after {
			content: '';
			display: block;
			width: 100%;
			min-width: 1280px;
			height: 1px;
			background-color: #eaeaeb;
			position: absolute;
			top: 120px;
			left: 0;
			opacity: 0;
			z-index: 2;
			transition: opacity .2s, top .01s .2s;
		}

		& > .inner {
			box-sizing: border-box;
			display: flex;
			align-items: flex-start;
			width: 100%;
			height: 124px;
			min-width: 1280px;
			max-width: 1920px;
			padding: 50px 60px 20px;
			margin: 0 auto;
			position: relative;
			transition: all .3s;
		}
	}

	.noti-bar {
		display: flex;
		justify-content: center;
		width: 100%;
		z-index: 10;
		position: relative;
		overflow: hidden;

		.wrap {
			position: relative;
		}

		.img {
			width: 1920px;
			font-size: 0;
			a {
				display: block;
				width: 100%;
			}
			img {
				display: block;
				width: 100%;
			}
		}

		.btn-area {
			width: 100%;
			min-width: 1280px;
			max-width: 1920px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%);
		}

		.btn-close {
			width: 50px;
			height: 0;
			max-height: 0;
			padding-top: 50px;
			background: url('@@img/pc/main/btn-close.png') no-repeat;
			background-size: 13px 13px;
			background-position: center center;
			overflow: hidden;
			position: absolute;
			top: 0;
			right: 40px;
			transform: translateY(-50%);
		}
	}

	.logo {
		margin-right: auto;

		a {
			display: block;
			width: 196px;
			height: 0;
			max-height: 0;
			padding-top: 50px;
			background: url('@@img/pc/common/logo.png') no-repeat;
			background-size: cover;
			overflow: hidden;
		}
	}

	.gnb {
		display: flex;
		align-items: center;
		position: absolute;
		top: 50px;
		left: 50%;
		transform: translateX(-50%);
		transition: all .2s;
		// margin-left: -60px;
	}

	.nav {
		display: flex;

		& > li {
			flex-shrink: 0;
			text-align: center;
			transition: all .3s;

			// &:first-child { width: 140px; }
			// &:nth-child(2) { width: 140px; }
			// &:nth-child(3) { width: 140px; }
			// &:nth-child(4) { width: 204px; }
			// &:nth-child(5) { width: 140px; }

			&.on {
				& > a { color: $secondary-color1; }

				.sub {
					margin-top: 20px;

					& > .wrap {
						opacity: 1;
						z-index: 2;
					}
				}
			}

			& > a {
				box-sizing: border-box;
				display: inline-flex;
				align-items: center;
				line-height: 1.2;
				min-height: 50px;
				padding: 6px 25px;
				font-weight: 800;
				color: $text-color1;
				font-size: 22px;
				letter-spacing: -.025em;
				transition: all .2s;
				position: relative;
				z-index: 5;

				&:hover { color: $secondary-color1; }

				&.point {
					position: relative;

					&:after {
						content: '';
						display: block;
						width: 10px;
						height: 10px;
						border-radius: 50%;
						background-color: $secondary-color1;
						position: absolute;
						top: 8px;
						right: 14px;
					}
				}
			}
		}
	}

	.sub {
		width: 100%;
		opacity: 0;
		transition: all .3s;

		& > .wrap {
			box-sizing: border-box;
			display: flex;
			align-items: center;
			width: 760px;
			padding: 15px 20px;
			margin-top: 20px;
			position: absolute;
			top: 100%;
			left: 0;
			z-index: 1;
			transition: all .3s;
		}
	}

	.sub-nav {
		display: none;
		flex-direction: column;
		flex-wrap: wrap;
		height: 300px;
		// position: absolute;
		// top: 11px;
		// left: 50%;
		// margin-left: -450px;

		li {
			display: flex;
			justify-content: flex-start;
			margin-right: 60px;

			&:not(:first-child) { margin-bottom: 2px; }
		}

		a {
			display: block;
			line-height: 32px;
			padding: 0 6px;
			color: #6e6e72;
			font-weight: 500;
			font-size: 16px;
			position: relative;

			&:hover {
				font-weight: 700;
				color: $text-color1;

				span:after { width: 100%; }
			}

			span {
				position: relative;

				&:after {
					content: '';
					display: inline-block;
					width: 0;
					height: 2px;
					background-color: #9b9b9c;
					position: absolute;
					bottom: 0;
					left: 0;
					transition: all .2s;
				}
			}

			&.point {
				&:before {
					content: '';
					display: block;
					width: 6px;
					height: 6px;
					border-radius: 50%;
					background-color: $secondary-color1;
					position: absolute;
					top: 13px;
					right: -4px;
				}
			}
		}
	}

	.banner {
		display: none;
		margin-left: auto;
		transform: translateY(-10px);

		.img {
			width: 410px;
			height: 170px;
			position: relative;

			a {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
			}

			img {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}

	.util-menu {
		display: flex;
		margin-left: auto;

		& > li {
			display: flex;
			align-items: center;

			&:not(:first-child) { margin-left: 20px; }

			&.search { margin-left: 40px; }
			&.menu { margin-left: 10px; }

			& > a {
				display: block;
				padding: 4px 8px;
				color: $text-color1;
				font-weight: 800;
				font-size: 14px;
				transition: all .2s;

				&:hover { color: $secondary-color1; }

				&.join {
					position: relative;

					.add {
						width: 100px;
						margin-left: -50px;
						color: $text-color1;
						font-weight: 700;
						font-size: 14px;
						position: absolute;
						top: -35px;
						left: 50%;
						opacity: 1;
						letter-spacing: -.025em;
						text-align: center;
						transition: all .2s;

						&:after {
							content: '';
							display: block;
							width: 16px;
							height: 16px;
							background: url('@@img/pc/common/arrow-select2.png') no-repeat;
							background-size: cover;
							position: absolute;
							bottom: -16px;
							left: 50%;
							margin-left: -8px;
						}
					}
				}

				&.cart {
					position: relative;

					.count {
						display: flex;
						align-items: center;
						justify-content: center;
						width: 24px;
						height: 24px;
						background-color: $secondary-color1;
						border-radius: 50%;
						color: #fff;
						font-weight: 700;
						font-size: 12px;
						position: absolute;
						top: -12px;
						right: -20px;
					}
				}
			}

			.btn-search {
				display: block;
				width: 50px;
				height: 0;
				max-height: 0;
				padding: 50px 0 0 0;
				overflow: hidden;
				position: relative;

				&:after {
					content: '';
					display: block;
					width: 100%;
					height: 100%;
					background: url('@@img/pc/common/btn-search.png') no-repeat;
					background-size: 32px 32px;
					background-position: center center;
					position: absolute;
					top: 0;
					left: 0;
					transition: all .2s;
				}

				// &:hover {
				// 	&:after { background-image: url('@@img/pc/common/btn-search-on.png'); }
				// }

				&.on {
					&:after {
						background-image: url('@@img/pc/common/btn-search-on.png');
					}
				}
				// &.on {
				// 	&:after {
				// 		background-image: url('@@img/pc/common/btn-search-close.png');
				// 		background-size: 32px 32px;
				// 	}
				// }
			}

			.btn-menu {
				width: 50px;
				height: 0;
				max-height: 0;
				padding-top: 50px;
				overflow: hidden;
				position: relative;

				// &:after {
				// 	content: '';
				// 	display: block;
				// 	width: 100%;
				// 	height: 100%;
				// 	background: url('@@img/pc/common/btn-menu-close.png') no-repeat;
				// 	background-size: 32px 32px;
				// 	background-position: center center;
				// 	opacity: 0;
				// 	position: absolute;
				// 	top: 0;
				// 	left: 0;
				// 	transition: all .2s;
				// }

				&.on {
					// &:after { opacity: 1; }
					.img {
						.line {
							&:after {
								background-color: $secondary-color1;
								right: 0;
								transition: all .15s .15s;
							}
						}

						.dot {
							transition: all .15s 0s;

							&:first-child { left: 100%; }
							&:nth-child(2) { left: 100%; }
							&:nth-child(3) { left: 100%; }
						}
					}
				}

				.img {
					width: 28px;
					height: 28px;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%,-50%);
					opacity: 1;

					.line {
						width: 28px;
						height: 6px;
						overflow: hidden;
						position: absolute;
						left: 0;

						&:after {
							content: '';
							display: block;
							height: 4px;
							background-color: $primary-color;
							position: absolute;
							top: 1px;
							right: -100%;
							transition: all .15s 0s;
						}

						&:first-child {
							top: 0;

							&:after { width: 50%; }
						}

						&:nth-child(2) {
							top: 11px;

							&:after { width: 75%; }
						}

						&:nth-child(3) {
							top: 22px;

							&:after { width: 100%; }
						}
					}

					.dot {
						width: 6px;
						height: 6px;
						background-color: $primary-color;
						position: absolute;
						top: 0;
						left: 0;
						transition: all .15s .15s;

						&:nth-child(2) { left: 11px; }
						&:nth-child(3) { left: 22px; }
					}
				}

				&:hover {
					.img {
						.dot {
							background-color: $secondary-color1;
							transition: all .15s 0s;
							background-size: 100% auto;
							background-position: center center;
						}
					}
				}
			}

			.content {
				opacity: 0;
				transition: opacity .01s 0s;

				& > .wrap {
					box-sizing: border-box;
					display: none;
					justify-content: center;
					width: 100%;
					height: calc(100% - 145px);
					padding: 0 60px;
					position: absolute;
					top: 120px;
					left: 0;
					z-index: 1;
				}
			}

			&.search {
				.content {
					& > .wrap {
						flex-direction: column;
						width: 600px;
						left: 50%;
						transform: translateX(-50%);
					}
				}
			}
	
			&.menu {
				.content {
					& > .wrap {
						align-items: center;
					}
				}

				.list {
					display: flex;
					justify-content: center;

					li {
						&:not(:first-child) { margin-left: 40px; }
					}

					a {
						&:hover {
							.icon {
								background-color: #353537;

								&.skinny { background-image: url('@@img/pc/common/icon-skinny-on.png'); }
								&.exhibition { background-image: url('@@img/pc/common/icon-exhibition-on.png'); }
								&.review { background-image: url('@@img/pc/common/icon-review-on.png'); }
								&.mypage { background-image: url('@@img/pc/common/icon-mypage-on.png'); }
								&.customer { background-image: url('@@img/pc/common/icon-customer-on.png'); }
								&.member { background-image: url('@@img/pc/common/icon-member-on.png'); }
							}
						}

						.icon {
							display: block;
							width: 110px;
							height: 110px;
							background-repeat: no-repeat;
							background-color: #f4f4f6;
							background-position: center center;
							border-radius: 50%;
							transition: all .2s;

							&.skinny {
								background-image: url('@@img/pc/common/icon-skinny.png');
								background-size: 67px 18px;
							}
							&.exhibition {
								background-image: url('@@img/pc/common/icon-exhibition.png');
								background-size: 32px 36px;
							}
							&.review {
								background-image: url('@@img/pc/common/icon-review.png');
								background-size: 36px 33px;
							}
							&.mypage {
								background-image: url('@@img/pc/common/icon-mypage.png');
								background-size: 31px 20px;
							}
							&.customer {
								background-image: url('@@img/pc/common/icon-customer.png');
								background-size: 36px 36px;
							}
							&.member {
								background-image: url('@@img/pc/common/icon-member.png');
								background-size: 36px 32px;
							}
						}

						.tit {
							display: block;
							margin-top: 16px;
							color: $text-color1;
							font-weight: 800;
							font-size: 16px;
							text-align: center;
						}
					}
				}
			}
		}
	}

	.user-noti {
		position: absolute;
		top: 134px;
		right: 60px;
		z-index: 5;
		transition: all .3s;

		.item {
			box-sizing: border-box;
			width: 400px;
			padding: 38px 40px;
			margin-bottom: 10px;
			background-color: #fff;
			box-shadow: 3.8px 3.3px 10px 0 rgba(53,53,55,.2);
			position: relative;
		}

		.msg {
			word-break: break-all;

			.name {
				display: block;
				margin-bottom: 2px;
				color: $text-color1;
				font-weight: 800;
				font-size: 24px;
			}

			.desc {
				display: block;
				color: $text-color1;
				font-weight: 800;
				font-size: 18px;
				letter-spacing: -.025em;

				.secondary {
					display: inline-block;
					color: $secondary-color1;
				}
			}
		}

		.btn-area {
			display: flex;
			margin-top: 16px;
			a,
			button {
				min-width: 170px;
			}
		}

		.btn-close {
			width: 50px;
			height: 0;
			min-height: 0;
			padding-top: 50px;
			background: url('@@img/pc/common/btn-popup-close.png') no-repeat;
			background-size: 24px 24px;
			background-position: center center;
			overflow: hidden;
			position: absolute;
			top: 7px;
			right: 7px;
		}
	}
}

@media all and (max-width: 1600px) {
	.common-header {
		& > .wrap {
			& > .inner {
				padding-left: 40px;
				padding-right: 20px;
			}
		}

		.nav {
			& > li {
				& > a {
					padding: 6px 14px;
					&.point:after { right: 4px; }
				}
			}
		}

		.sub {
			& > .wrap { padding: 15px 8px; }
		}

		.util-menu {
			& > li {
				&:not(:first-child) { margin-left: 4px; }
				&.search { margin-left: 24px; }
				& > a.cart .count { right: -17px; }
			}
		}

		.user-noti {
			right: 20px;
		}
	}
}