@mixin btn-group($align: left) {
	@if $align == left {
		justify-content: flex-start;
	}
	@if $align == right {
		justify-content: flex-end;
	}
	@if $align == center {
		justify-content: center;
	}
	@if $align == between {
		justify-content: space-between;
	}
	@if $align == col {
		flex-wrap: wrap;
	}
}

.btn-group {
	display: flex;
	@include btn-group(left);
	&.right { @include btn-group(right); }
	&.center { @include btn-group(center); }
	&.between { @include btn-group(between); }
	&.row {
		& > a,
		& > button,
		& > .btn { flex: 1; }
	}
	&.col {
		@include btn-group(col);
		& > a,
		& > button,
		& > .btn {
			width: 100%;
			& + a,
			& + button,
			& + .btn {
				margin-top: 10px;
				margin-left: 0;
			}
		}
	}
	.btn + .btn { margin-left: 10px; }
}