{%
	set pageInfo = {
		section: 'member',
		title: '입금기한이 지나 주문취소 되었습니다.'
	}
%}

{% extends site + '/@inc/layout.html' %}

{% block content -%}
<tr>
	<td>
		<table class="email-common-container" cellspacing="0" cellpadding="0">
			<tr>
				<td style="width: 60px;"></td>
				<td class="container-wrap">
					<table class="page-content" cellspacing="0" cellpadding="0">
						<tr>
							<td class="txt com-txt1">
								입금기한이 지나<br>주문취소 되었습니다.
							</td>
						</tr>
						<tr>
							<td style="height: 38px;"></td>
						</tr>
						<tr>
							<td class="txt com-txt2">
								주문하신 상품의 입금이 확인되지 않아<br>
								주문이 자동 취소되었습니다.
							</td>
						</tr>
						<tr>
							<td style="height: 30px;"></td>
						</tr>
						<tr>
							<td class="txt com-txt4">
								주문취소 내역은  <strong class="color01"><a href="#" target="_blank" class="btn-link">마이페이지 &gt; 나의 쇼핑내역 &gt; 취소/반품/교환 조회</a></strong>에서도 확인하실 수 있습니다.<br>
								다음에 더 좋은 상품과 혜택으로 찾아뵙겠습니다.
							</td>
						</tr>
						<tr>
							<td style="height: 58px;"></td>
						</tr>
						<tr>
							<td class="txt com-txt3">
								<strong>주문정보</strong>
							</td>
						</tr>
						<tr>
							<td style="height: 10px;"></td>
						</tr>
						<tr>
							<td>
								<table cellspacing="0" cellpadding="0" class="content-table">
									<tr>
										<th style="width: 180px;">주문자</th>
										<td style="width: 500px;">
											<strong>{주문자명}</strong>
										</td>
									</tr>
									<tr>
										<th style="width: 180px;">주문일자</th>
										<td style="width: 500px;">
											<strong>{2021-06-15}</strong>
										</td>
									</tr>
									<tr>
										<th style="width: 180px;">주문번호</th>
										<td style="width: 500px;">
											<strong>{주문번호}</strong>
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td style="height: 38px;"></td>
						</tr>
						<tr>
							<td class="txt com-txt3">
								<strong>취소 상품 정보</strong>
							</td>
						</tr>
						<tr>
							<td style="height: 10px;"></td>
						</tr>
						<tr>
							<td>
								<table cellspacing="0" cellpadding="0" class="content-table">
									<tr>
										<td style="padding: 0;">
											<table cellspacing="0" cellpadding="0" class="content-table product">
												<tr>
													<td style="height: 30px; border: 0;" colspan="5"></td>
												</tr>
												<tr>
													<td style="width: 140px;">
														<img src="{{base}}/img/email/goods-thumb-img140x140.jpg" alt="주문 상품 이미지">
													</td>
													<td style="width: 20px;"></td>
													<td style="width: 360px;">
														<table cellspacing="0" cellpadding="0" class="info-table">
															<tr>
																<td class="brand">브랜드명</td>
															</tr>
															<tr>
																<td style="height: 5px;"></td>
															</tr>
															<tr>
																<td class="name">
																	<div class="box">상품명 최대 1줄 노출 상품명 최대 1줄 노출</div>
																</td>
															</tr>
															<tr>
																<td style="height: 5px;"></td>
															</tr>
															<tr>
																<td class="quantity">수량 <span class="line"></span> <strong class="color01">1,000개</strong></td>
															</tr>
															<tr>
																<td style="height: 5px;"></td>
															</tr>
															<tr>
																<td class="name01">
																	<div class="box">1+1 상품명 최대 1줄 노출1+1 상품명 최대 1줄 노</div>
																</td>
															</tr>
															<tr>
																<td style="height: 5px;"></td>
															</tr>
															<tr>
																<td class="quantity">수량 <span class="line"></span> <strong class="color01">1,000개</strong></td>
															</tr>
														</table>
													</td>
													<td class="price" style="width: 140px;">
														<strong>999,999,000</strong>원
													</td>
													<td style="width: 20px;"></td>
												</tr>
												<tr>
													<td style="height: 30px; border: 0;" colspan="5"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td style="height: 38px;"></td>
						</tr>
						<tr>
							<td class="txt com-txt3">
								<strong>사은품 정보</strong>
							</td>
						</tr>
						<tr>
							<td style="height: 10px;"></td>
						</tr>
						<tr>
							<td>
								<table cellspacing="0" cellpadding="0" class="content-table">
									<tr>
										<th style="width: 430px;" class="com-txt4">
											<strong class="color01">{사은품명사은품명사은품명사은품명사은품명사은품명}</strong>
										</th>
										<td class="data color02" style="width: 250px;">
											증정기간 : {증정기간노출}
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td style="height: 38px;"></td>
						</tr>
						<tr>
							<td class="txt com-txt3">
								<strong>환불내역</strong>
							</td>
						</tr>
						<tr>
							<td style="height: 10px;"></td>
						</tr>
						<tr>
							<td>
								<table cellspacing="0" cellpadding="0" class="content-table">
									<tr>
										<th style="width: 170px;">취소상품금액</th>
										<td style="width: 510px;">
											<strong>{수령자명}</strong>
										</td>
									</tr>
									<tr>
										<th style="width: 170px;">배송비</th>
										<td style="width: 510px;">
											<strong>{배송비}원</strong>
										</td>
									</tr>
									<tr>
										<th style="width: 170px;">쿠폰 할인금액</th>
										<td style="width: 510px;">
											<strong>-{쿠폰차감액}원</strong>
										</td>
									</tr>
									<tr>
										<th style="width: 170px;">마일리지 복원금액</th>
										<td style="width: 510px;">
											<strong>{복원마일리지}원</strong>
										</td>
									</tr>
									<tr>
										<th style="width: 170px;">환불금액</th>
										<td style="width: 510px;">
											<strong>{환불금액}원</strong>
										</td>
									</tr>
									<tr>
										<th style="width: 170px;">환불 결제수단</th>
										<td style="width: 510px;">
											<strong>{결제수단}</strong>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
				<td style="width: 60px;"></td>
			</tr>
			{{ include('./notice.html') }}
		</table>
	</td>
</tr>
{%- endblock %}