{% extends site + '/@inc/layout-empty.html' %}

{% block content -%}
<!-- 옵션클래스: full, full-scroll, hidden-title -->
<article id="popup-member-find" class="common-popup" data-motion-in="400" data-motion-out="200">
	<div class="common-popup-inner popup-member-find">
		<div class="header">
			<h1 class="title">휴면 계정 안내</h1>
			<button type="button" class="btn-close js-pop-close"><span>닫기</span></button>
		</div>
		<div class="container">
			<div class="head">
				<div class="page-top-desc">
					<div class="com-txt">
						회원님의 계정은 1년 이상<br>
						로그인을 하지 않아 <strong>휴면 계정으로</strong><br>
						<strong>전환</strong>되었습니다.
					</div>
						<div class="desc com-txt3">
						계정 활성화를 원하시면<br>
						<strong>휴면 해제 버튼</strong>을 눌러 주세요. 
					</div>
				</div>
			</div>
			<div class="body">
				<div class="form-layout view">
					<dl class="row">
						<dt class="title">가입 된 ID</dt>
						<dd class="content">
							<div class="txt-box">
								sk******b
							</div>
						</dd>
					</dl>
					<dl class="row">
						<dt class="title">회원 가입일</dt>
						<dd class="content">
							<div class="txt-box">
								2020.02.10
							</div>
						</dd>
					</dl>
				</div>		
			</div>
			<div class="foot">
				<div class="btn-group">
					<button type="button" class="btn large primary block">휴면 해제</button>
				</div>
				<div class="caution com-txt5">
					스키니랩은 관련 법률에 의거하여 1년 이상 로그인하지 않은<br>
					회원님의 개인정보를 안전하게 보호하기 위해 휴면 계정 정책을<br>
					시행하고 있습니다.
				</div>
			</div>
		</div>
	</div>
</article>
{%- endblock %}