{%
	set pageInfo = {
		section: 'member',
		title: '로그인',
		order: '0'
	}
%}
{% extends site + '/@inc/layout.html' %}

{% block content -%}
<header class="page-header">
	{{ include('../@inc/noti-bar.html') }}
	<div class="wrap">
		{{ include('../@inc/sub-header.html') }}
		<span class="page-title">{{pageInfo.title}}</span>
	</div>
	{{ include('../@inc/search.html') }}
</header>
<div id="content-main" class="common-container section-{{pageInfo.section}} {{pageInfo.section}}-login">
	
	<div class="container-wrap">
		<div class="tab-group-wrap">
			<div class="tab-menu2 tab2">
				<div class="wrap">
					<ul class="list tab-menu-box">
						<li class="tab is-active"> 
							<button type="button">회원</button>
						</li>
						<li class="tab">
							<button type="button">비회원 주문조회</button>
						</li>
					</ul>
				</div>
			</div>
			<div class="tab-content">
				<div class="form-layout large">
					<dl class="row">
						<dt class="title">
							<label for="userId1">아이디(이메일) <span class="emphasis">*</span></label>
						</dt>
						<dd class="content">
							<span class="input-text-del"> 
								<input type="text" id="userId1" name="userId1" placeholder="아이디 (이메일) 입력" class="text large block underline is-invalid"> <!-- 입력오류일때: .is-invalid -->
							</span>
							<p class="error-msg is-invalid">아이디(이메일)를 입력해 주세요.</p> <!-- 오류 문구 노출 -->
						</dd>
					</dl>
					<dl class="row">
						<dt class="title">
							<label for="userPw1">비밀번호 <span class="emphasis">*</span></label>
						</dt>
						<dd class="content">
							<span class="input-text-del"> 
								<input type="password" id="userPw1" name="userPw1" placeholder="비밀번호 입력" class="text large block underline">
							</span>
							<p class="error-msg is-invalid" style="display: none;">비밀번호를 입력해 주세요.</p>
						</dd>
					</dl>
				</div>
				<div class="check-wrap">
					<label class="check"><input type="checkbox" checked> <span>아이디 저장</span></label>
					<label class="check"><input type="checkbox"> <span>자동로그인</span></label>
				</div>
				<div class="btn-group center">
					<button type="button" class="btn large primary block">로그인</button>
				</div>
				<ul class="utility-group">
					<li><button type="button" onclick="UI.showLayerPop('',{ url: './find-existing-id.html'}); return false;">기존 아이디 찾기</button></li>
					<li><a href="./find-id.html">아이디 찾기</a></li>
					<li><a href="./find-pw.html">비밀번호 찾기</a></li>
				</ul>
				
				<div class="sns-login">
					<p class="section-sub-tit">SNS 간편 로그인</p>
					<div class="btn-group between">
						<button type="button" class="sns-btn kakao"><span class="hide">카카오</span></button>
						<button type="button" class="sns-btn naver"><span class="hide">네이버</span></button>
						<button type="button" class="sns-btn google"><span class="hide">구글</span></button>
					</div>	
				</div>
				
			</div>
			<div class="tab-content">
				<div class="form-layout large">
					<dl class="row">
						<dt class="title">
							<label for="orderNum">주문번호</label>
						</dt>
						<dd class="content">
							<span class="input-text-del"> 
								<input type="text" id="orderNum" name="orderNum" placeholder="주문번호 입력" class="text large block underline is-invalid"> <!-- 입력오류일때: .is-invalid -->
							</span>
							<p class="error-msg is-invalid">주문번호를 입력해 주세요.</p> <!-- 오류 문구 노출 -->
						</dd>
					</dl>
					<dl class="row">
						<dt class="title">
							<label for="orderPw">주문 비밀번호</label>
						</dt>
						<dd class="content">
							<span class="input-text-del"> 
								<input type="password" id="orderPw" name="orderPw" placeholder="주문 비밀번호 입력" class="text large block underline">
							</span>
						</dd>
					</dl>
				</div>
				<div class="btn-group center">
					<button type="button" class="btn large primary block">조회</button>
				</div>
				<p class="caution com-txt5">비회원 구매 시 입력하셨던 정보를 정확히 입력해주세요.</p>
			</div>
		</div>

		<div class="membership-desc">
			<p class="com-txt">아직 스키니랩 회원이 아니신가요?</p>
			<div class="desc com-txt3">
				지금 회원가입을 하시면 스키니랩의<br>
				<strong>다양한 할인 혜택</strong>들이 기다리고 있어요!
			</div>
			<div class="btn-group left">
				<a href="#" class="btn outline thin primary">회원가입 하기</a>
			</div>
		</div>

		<div class="event-banner">
			<div class="swiper-container eventswiper">
				<div class="swiper-wrapper">
					{% for i in range(0,4) %}
					<div class="swiper-slide">
						<a href="#"><img src="{{base}}/img/mob/@dummy/member-event-banner.jpg" alt="스키니랩 BEST 3 지금 구매하면 9,900원"></a>
					</div>
					{% endfor %}
				</div>
				<div class="swiper-controls">
					<div class="swiper-pagination"></div>
					<button type="button" class="pause">정지</button>
					<button type="button" class="play">재생</button>
				</div>
			</div>
		</div>

		<!-- 통합회원전환 팝업 // -->
		<article id="popup-noti-membership" data-motion-in="1000" data-motion-out="1000" class="common-popup bottom" style="display: none;">
			<div class="common-popup-inner popup-noti-membership">
				<div class="header">
					<h1 class="title">
						통합회원전환
					</h1>
				</div>
				<div class="container">
					<div class="noti-membership">
						<div class="banner">
							<div class="img">
								<a href="#" title="통합회원 전환하기">
									<img src="{{base}}/img/mob/member/existing-membership-img01.jpg" alt="2021년 10월 7일부터 고객님의 기존 스키니랩 ID사용이 제한되며, 헬스밸런스 통합회원 ID와 비밀번호로만 서비스를 이용하실 수 있습니다.">
								</a>
							</div>
						</div>
						<div class="btn-group row">
							<button type="button" class="btn-cookie"><span>오늘 하루 보지 않기</span></button>
							<button type="button" class="btn-close js-pop-close"><span>닫기</span></button>
						</div>
					</div>
				</div>
			</div>
		</article>

		<script>
			// 쿠키
			function setCookie(name, value, expiredays){
				var today = new Date();

				today.setDate(today.getDate() + expiredays);
				document.cookie = name + '=' + escape(value) + '; expires=' + today.toGMTString();
			}

			function getCookie(name) {
				var cookie = document.cookie;

				if (document.cookie != "") {
					var cookie_array = cookie.split("; ");

					for ( var index in cookie_array) {
						var cookie_name = cookie_array[index].split("=");

						if (cookie_name[0] == "skinnylabExistingMembership") return cookie_name[1];
					}
				}

				return;
			}

			$("#popup-noti-membership .btn-cookie").click(function() {
				UI.closeLayerPop('#popup-noti-membership');
				setCookie("skinnylabExistingMembership", 'popupEnd', 1);
			});

			var checkCookie = getCookie("skinnylabExistingMembership");

			if(checkCookie == 'popupEnd') {
				$("#popup-noti-membership").removeClass('is-layer');
				$('html').removeClass('scroll-fixed');
			} else {
				UI.showLayerPop('#popup-noti-membership');
			}
		</script>
		<!-- // 통합회원전환 팝업 -->
	</div>
</div>
<script>
	var swiper = new Swiper(".eventswiper", {
		autoplay: {
			delay: 3000,
			disableOnInteraction: false,
		},
		loop: true,
		speed: 700,
		pagination: {
			el: ".swiper-pagination",
			clickable: true,
		},
	});

	$('.play').hide();
	$('.pause').click(function(){
		swiper.autoplay.stop();
		$(this).hide();
		$(this).siblings('.play').show();
	})

	$('.play').click(function(){
		swiper.autoplay.start();
		$(this).hide();
		$(this).siblings('.pause').show();
	})
</script>
{%- endblock %}