{% extends site + '/@inc/layout-empty.html' %}

{% block content -%}
<!-- 옵션클래스: full, full-scroll, hidden-title -->
<article id="popup-existing-membership-info" class="common-popup" data-motion-in="400" data-motion-out="200">
	<div class="common-popup-inner popup-existing-membership-info">
		<div class="header">
			<h1 class="title">HB 멤버십 계정 통합 안내</h1>
			<button type="button" class="btn-close js-pop-close"><span>닫기</span></button>
		</div>
		<div class="container">
			<div class="head">
				<div class="page-top-desc">
					<div class="com-txt">
						<span class="name">홍길동</span>님은<br>
						<strong>HB 통합 멤버십에 이미 가입</strong>되어 있습니다.
					</div>
				</div>
			</div>
			<div class="body">
				<div class="user-info">
					<dl class="item">
						<dt class="title">
							HB 멤버십 ID
						</dt>
						<dd class="content">
							<span class="info-id">
								sk******b@gmail.com
							</span>
						</dd>
					</dl>
				</div>
			</div>
			<div class="foot">
				<div class="btn-group">
					<button type="button" class="btn large primary block">HB 멤버십 계정 통합 동의</button>
				</div>
				<div class="caution com-txt5">
					계정 통합에 동의하시면 스키니랩의 적립금/쿠폰 정보가 합쳐지며 <span class="str">헬스밸런스의 모든 패밀리 사이트에서 하나의 ID로 로그</span>인 하실 수 있습니다.
				</div>
			</div>
		</div>
	</div>
</article>
{%- endblock %}