{% extends site + '/@inc/layout-empty.html' %}

{% block content -%}
<!-- 옵션클래스: full, full-scroll, hidden-title -->
<article id="popup-privacy" class="common-popup" data-motion-in="400" data-motion-out="200">
	<div class="common-popup-inner popup-privacy">
		<div class="header">
			<h1 class="title">개인정보 처리방침</h1>
			<button type="button" class="btn-close js-pop-close"><span>닫기</span></button>
		</div>
		<div class="container">
			<div class="popup-license">
				<div class="popup-license-wrap">
					<p class="popup-license-desc">
						헬스밸런스㈜는 이용자의 개인정보를 보호하고 이와 관련한 고충을 신속하고 원활하게 처리할 수 있도록 다음과 같이 개인정보 처리방침을 수립·공개하며, 본 개인정보 처리방침을 홈페이지 첫 화면에 공개함으로써 이용자들이 언제나 용이하게 보실 수 있도록 조치하고 있습니다. 개인정보 처리방침은 정부의 법률 및 지침 변경이나 회사의 내부 방침 변경 등으로 인하여 수시로 변경될 수 있고, 이에 따른 개인정보 처리방침의 지속적인 개선을 위하여 필요한 절차를 정하고 있습니다. 이용자들께서는 사이트 방문 시 수시로 확인하시기 바랍니다.
					</p>
					<p class="popup-license-desc">헬스밸런스㈜의 개인정보 처리방침은 다음과 같은 내용을 담고 있습니다.</p>
				</div>
				<div class="popup-license-wrap">
					<h2 class="popup-license-tit">1. 개인정보 수집에 대한 동의</h2>
				</div>
				<div class="popup-license-wrap">
					<h2 class="popup-license-tit">2. 수집하는 개인정보 항목 및 수집방법</h2>
				</div>
				<div class="popup-license-wrap">
					<h2 class="popup-license-tit">3. 개인정보의 수집 및 이용목적</h2>
				</div>
				<div class="popup-license-wrap">
					<h2 class="popup-license-tit">3. 개인정보의 수집 및 이용목적</h2>
				</div>
				<div class="popup-license-wrap">
					<h2 class="popup-license-tit">5. 개인정보의 파기 절차 및 방법</h2>
				</div>
				<div class="popup-license-wrap">
					<h2 class="popup-license-tit">6. 이용자 자신의 개인정보 관리(열람, 정정, 삭제 등)에 관한 사항</h2>
				</div>
				<div class="popup-license-wrap">
					<h2 class="popup-license-tit">7. 쿠키(Cookie)의 운용 및 거부</h2>
				</div>
				<div class="popup-license-wrap">
					<h2 class="popup-license-tit">8. 개인정보의 위탁처리</h2>
				</div>
				<div class="popup-license-wrap">
					<h2 class="popup-license-tit">9. 개인정보보호를 위한 기술적/관리적 대책</h2>
				</div>
				<div class="popup-license-wrap">
					<h2 class="popup-license-tit">10. 개인정보 관련 의견수렴 및 불만처리에 관한 사항</h2>
				</div>
				<div class="popup-license-wrap">
					<h2 class="popup-license-tit">11. 개인정보 보호책임자 및 담당자의 소속-성명 및 연락처</h2>
				</div>
			</div>
		</div>
	</div>
</article>
{%- endblock %}