{%
	set pageInfo = {
		section: 'mypage',
		title: '참여 이벤트',
		order: [6,0]
	}
%}
{% extends site + '/@inc/layout.html' %}

{% block content -%}
<header class="page-header">
	{{ include('../@inc/noti-bar.html') }}
	<div class="wrap">
		{{ include('../@inc/sub-header.html') }}
		<span class="page-title">{{pageInfo.title}}</span>
	</div>
	{{ include('../@inc/search.html') }}
	{{ include('../@inc/gnb.html') }}
</header>


<!-- Content // -->
<div id="content-main" class="common-container section-{{pageInfo.section}} {{pageInfo.section}}-join-event">
	<div class="container-wrap">
		<h3 class="hide">참여 이벤트</h3>

		<div class="content-inner-wrap">
			<ul class="board-list-wrap">
				{% for i in range(0, 3) %}
				<li>
					<div class="top">
						<span class="status-tag ing">진행중 이벤트</span> <!-- 진행중 이벤트: .ing, 종료된 이벤트: .end -->
					</div>
					<div class="tit">
						이벤트명 이벤트명 이벤트명 이벤트명 이벤트명 이벤트명 이벤트명 이벤트명 이벤트명 이벤트명 이벤트명 이벤트명
					</div>
					<div class="bot">
						<dl class="info-txt">
							<dt>이벤트 기간</dt>
							<dd>2021.04.01 ~ 2021.05.01</dd>
						</dl>
						<div>
							<dl class="info-txt">
								<dt>참여일자</dt>
								<dd>2021.05.04</dd>
							</dl>
							<dl class="info-txt">
								<dt>당첨자 발표</dt>
								<dd>2021.05.10</dd>
							</dl>
						</div>
					</div>
				</li>
				
				<li>
					<div class="top">
						<span class="status-tag end">종료된 이벤트</span>
					</div>
					<div class="tit">
						이벤트명 이벤트명 이벤트명 이벤트명 이벤트명 이벤트명 이벤트명 이벤트명 이벤트명 이벤트명 이벤트명 이벤트명
					</div>
					<div class="bot">
						<dl class="info-txt">
							<dt>이벤트 기간</dt>
							<dd>2021.04.01 ~ 2021.05.01</dd>
						</dl>
						<div>
							<dl class="info-txt">
								<dt>참여일자</dt>
								<dd>2021.05.04</dd>
							</dl>
							<dl class="info-txt">
								<dt>당첨자 발표</dt>
								<dd>2021.05.10</dd>
							</dl>
						</div>
					</div>
					<div class="btn-group row">
						<a href="#" class="btn outline2">당첨자발표 바로가기</a>
					</div>
				</li>
				{% endfor %}
			</ul>

			<div class="btn-group center">
				<button type="button" class="btn-list-more">
					더보기
					<span class="icon-plus"></span>
				</button>
			</div>

			<!-- 데이터 없을 때 -->
			<div class="empty">
				<p class="desc">이벤트 참여내역이 없습니다.</p>
			</div>
		</div>
	</div>
</div>
<!-- // Content -->
<script>
</script>
{%- endblock %}
