{%
	set pageInfo = {
		section: 'mypage',
		title: '주문상세',
		order: [1,3]
	}
%}
{% extends site + '/@inc/layout.html' %}

{% block content -%}
<header class="page-header">
	{{ include('../@inc/noti-bar.html') }}
	<div class="wrap">
		{{ include('../@inc/sub-header.html') }}
		<span class="page-title">{{pageInfo.title}}</span>
	</div>
	{{ include('../@inc/search.html') }}
	{{ include('../@inc/gnb.html') }}
</header>
<div id="content-main" class="common-container section-{{pageInfo.section}} {{pageInfo.section}}-order-detail">
	<div class="container-wrap">
		<div class="order-list-wrap">
			<div class="top-util-cont">
				<div>
					<span class="date">2021.04.17</span>
					<span class="order-num">주문번호  2103121032000027</span>
				</div>
				<button type="button" class="btn outline2 thin small primary">영수증 확인</button>
			</div>
			<ul class="prod-detail-list">
				<li>
					<p class="store-name">(주)헬스밸런스</p> <!-- 입점사 있을 때 노출-->
					<p class="status-txt">결제완료</p>
					
					<figure class="prod-row-item">
						<span class="img">
							<a href="#"><img src="../../../img/mob/@dummy/goods-thumb-img140x140.jpg" alt="제품 이미지"></a>
						</span>
						<figcaption class="content">
							<div class="title">
								<a href="#">
									[NIGHT패키지] 래피드 솔루션 다이어트
									4주분+이지슬리밍 잔티젠 다이어트 4주분
									[NIGHT패키지] 래피드 솔루션 다이어트
									4주분+이지슬리밍 잔티젠 다이어트 4주분
								</a>
							</div>
							<dl class="option">
								<dt>옵션</dt>
								<dd>선택된 옵션명 정보 모두 노출 선택된 옵션명 정보 모두 노출 선택된 옵션명 정보 모두 노출 선택된 옵션명 정보 모두 노출</dd>
							</dl>
							<div class="utility">
								<dl class="option">
									<dt>수량</dt>
									<dd><strong>1</strong>개</dd>
								</dl>
								<div class="price">
									<strong>19,800</strong>원
								</div>
							</div>
							<div class="add">
								<div class="prod">
									<div class="img">
										<img src="../../../img/mob/@dummy/goods-thumb-img140x140.jpg" alt="">
										
										<!-- // 등록된 사진이 없을때 -->
										<!-- <img src="../../../img/mob/common/noimg.jpg" alt=""> -->
										<!-- 등록된 사진이 없을때 // -->
									</div>
									<div class="content">
										<p class="title">
											[1+1] 가르시니아 선택된 상품명 모두 노출 선택된 상품명 모두 노출 14포 x 2박스 4주분
										</p>
										<div class="utility">
											<dl class="option">
												<dt>수량</dt>
												<dd>
													<strong>
														2
													</strong>
													개
												</dd>
											</dl>
										</div>
									</div>
								</div>
							</div>
						</figcaption>
					</figure>
				
					<div class="btn-group">
						<button type="button" class="btn outline thin block">주문취소</button>
					</div>
				</li>
				<li>
					<p class="status-txt">결제완료</p>
					<figure class="prod-row-item">
						<span class="img">
							<a href="#"><img src="../../../img/mob/@dummy/goods-thumb-img140x140.jpg" alt="제품 이미지"></a>
						</span>
						<figcaption class="content">
							<div class="title">
								<a href="#">
									[NIGHT패키지] 래피드 솔루션 다이어트
									4주분+이지슬리밍 잔티젠 다이어트 4주분
									[NIGHT패키지] 래피드 솔루션 다이어트
									4주분+이지슬리밍 잔티젠 다이어트 4주분
								</a>
							</div>
							<dl class="option">
								<dt>옵션</dt>
								<dd>선택된 옵션명 정보 모두 노출 선택된 옵션명 정보 모두 노출 선택된 옵션명 정보 모두 노출 선택된 옵션명 정보 모두 노출</dd>
							</dl>
							<div class="utility">
								<dl class="option">
									<dt>수량</dt>
									<dd><strong>1</strong>개</dd>
								</dl>
								<div class="price">
									<strong>19,800</strong>원
								</div>
							</div>
							<div class="add">
								<div class="prod">
									<div class="img">
										<img src="../../../img/mob/@dummy/goods-thumb-img140x140.jpg" alt="">
										
										<!-- // 등록된 사진이 없을때 -->
										<!-- <img src="../../../img/mob/common/noimg.jpg" alt=""> -->
										<!-- 등록된 사진이 없을때 // -->
									</div>
									<div class="content">
										<p class="title">
											[1+1] 가르시니아 선택된 상품명 모두 노출 선택된 상품명 모두 노출 14포 x 2박스 4주분
										</p>
										<div class="utility">
											<dl class="option">
												<dt>수량</dt>
												<dd>
													<strong>
														2
													</strong>
													개
												</dd>
											</dl>
										</div>
									</div>
								</div>
							</div>
						</figcaption>
					</figure>
					<div class="btn-group">
						<button type="button" class="btn outline thin block">주문취소</button>
					</div>
				</li>
			</ul>
		</div>

		<div class="page-cont-head">
			<p class="com-txt2 ">선물 받는 분 정보</p>
		</div>
		<div class="info-cont-wrap">
			<dl class="cont-box send">
				<dt>받는 분</dt>
				<dd>김헬스</dd>
				<dt>휴대폰번호</dt>
				<dd>010-1234-5678</dd>
			</dl>
		</div>

		<div class="page-cont-head">
			<p class="com-txt2">배송정보</p>
		</div>
		<div class="info-cont-wrap">
			<dl class="cont-box send">
				<dt>받는 분</dt>
				<dd>김헬스 (연락처 친구)</dd>
				<dt>배송지</dt>
				<dd>서울 강남구 영동대로 511(트레이드타워) 2104호</dd>
				<dt>배송지 입력기한</dt>
				<dd>2021-04-15 까지 배송지 미입력 시, 자동 주문 취소</dd>
			</dl>
		</div>

		<div class="page-cont-head">
			<p class="com-txt2">결제정보</p>
		</div>
		<div class="info-cont-wrap">
			<ul class="payment-list">
				<li>
					<dl class="cont-box payment">
						<dt>총 상품금액</dt>
						<dd><strong>999,999,999</strong>원</dd>
					</dl>
				</li>
				<li>
					<dl class="cont-box payment">
						<dt>
							총 할인금액
							<button type="button" class="btn-open"></button>
						</dt>
						<dd><strong>-999,999,999</strong>원</dd>
					</dl>
					<div class="deatil"> 
						<dl class="cont-box payment"> <!-- 항목이 없을 경우 숨김처리 -->
							<dt>할인</dt>
							<dd><strong>-999,999,999</strong>원</dd>
							<dt>주문혜택 할인</dt>
							<dd><strong>-999,999,999</strong>원</dd>
							<dt>마일리지 사용</dt>
							<dd><strong>-999,999,999</strong>원</dd>
						</dl>
					</div>
				</li>
				<li>
					<dl class="cont-box payment">
						<dt>
							배송비
							<button type="button" class="btn-open"></button>
						</dt>
						<dd><strong>0</strong>원</dd>
					</dl>
					<div class="deatil">
						<dl class="cont-box payment">
							<dt>배송비 할인</dt>
							<dd><strong>-2,500</strong>원</dd>
						</dl>
					</div>
				</li>
				<li class="total">
					<dl class="cont-box payment">
						<dt>총 결제금액</dt>
						<dd>
							<strong class="num color01">999,999,999</strong>원
							<ul class="info">
								<li>
									<span>마일리지</span>
									<span class="num color01">2,500</span>원 적립 예정</li>
								<li>
									<span>신용카드(하나)</span>
									2021-04-09 16:40:41
								</li>
							</ul>
						</dd>
					</dl>
				</li>
			</ul>
		</div>
		
		<div class="btn-group center page-bot-group">
			<a href="./order-list-gift.html" class="btn large primary">
				<span>목록보기</span>
			</a>
		</div>

	</div>
</div>
<script>
	$(function() {
		
		// 결제정보 토글 컨트롤
		$('.payment-list').children().each(function() {
			var openBtn = $(this).find($('.cont-box .btn-open'));
			var detailBox = $(this).find($('.cont-box')).next();
			
			// 총 할인금액, 배송비 추가 정보가 하나라도 있으면 버튼 노출 및 클릭 이벤트 실행

			if(detailBox.children().length < 1) {
				openBtn.hide();
				detailBox.hide();
			} else {
				openBtn.show();
				openBtn.on('click', function() {
					var $this = openBtn.index(this);
					openBtn.eq($this).toggleClass('is-open');
					detailBox.eq($this).toggleClass('is-open');
				});
			}
		});

});
</script>
{%- endblock %}