{%
	set pageInfo = {
		section: 'mypage',
		title: '정기배송 신청내역 상세',
		order: [1,1]
	}
%}
{% extends site + '/@inc/layout.html' %}

{% block content -%}
<header class="page-header">
	{{ include('../@inc/noti-bar.html') }}
	<div class="wrap">
		{{ include('../@inc/sub-header.html') }}
		<span class="page-title">{{pageInfo.title}}</span>
	</div>
	{{ include('../@inc/search.html') }}
	{{ include('../@inc/gnb.html') }}
</header>
<div id="content-main" class="common-container section-{{pageInfo.section}} {{pageInfo.section}}-order-detail">
	<div class="container-wrap">
		<div class="order-list-wrap">
			<div class="top-util-cont">
				<button type="button" class="btn outline2 thin small primary">정기배송 해지</button>
			</div>
			<ul class="prod-detail-list">
				<li>
					<p class="store-name">(주)헬스밸런스</p> <!-- 입점사 있을 때 노출-->
					<p class="status-txt">1달에 한번씩 배송</p>
					
					<figure class="prod-row-item">
						<span class="img">
							<a href="#"><img src="../../../img/mob/@dummy/goods-thumb-img140x140.jpg" alt="제품 이미지"></a>
						</span>
						<figcaption class="content">
							<div class="title">
								<a href="#">
									[NIGHT패키지] 래피드 솔루션 다이어트
									4주분+이지슬리밍 잔티젠 다이어트 4주분
									[NIGHT패키지] 래피드 솔루션 다이어트
									4주분+이지슬리밍 잔티젠 다이어트 4주분
								</a>
							</div>
							<dl class="option">
								<dt>옵션</dt>
								<dd>선택된 옵션명 정보 모두 노출 선택된 옵션명 정보 모두 노출 선택된 옵션명 정보 모두 노출 선택된 옵션명 정보 모두 노출</dd>
							</dl>
							<div class="utility">
								<dl class="option">
									<dt>수량</dt>
									<dd><strong>1</strong>개</dd>
								</dl>
								<div class="price">
									<strong>19,800</strong>원
								</div>
							</div>
							<div class="add">
								<div class="prod">
									<div class="img">
										<img src="../../../img/mob/@dummy/goods-thumb-img140x140.jpg" alt="">
										
										<!-- // 등록된 사진이 없을때 -->
										<!-- <img src="../../../img/mob/common/noimg.jpg" alt=""> -->
										<!-- 등록된 사진이 없을때 // -->
									</div>
									<div class="content">
										<p class="title">
											[1+1] 가르시니아 선택된 상품명 모두 노출 선택된 상품명 모두 노출 14포 x 2박스 4주분
										</p>
										<div class="utility">
											<dl class="option">
												<dt>수량</dt>
												<dd>
													<strong>
														2
													</strong>
													개
												</dd>
											</dl>
										</div>
									</div>
								</div>
							</div>
						</figcaption>
					</figure>
				
					<div class="date-item">
						<dl class="date-info">
							<dt>결제 예정일</dt>
							<dd>04월 07일(수)</dd>
							<dt>정기배송 예정일</dt>
							<dd>04월 14일 도착예정</dd>
							<dt>다음 배송 예정일</dt>
							<dd>05월 14일 도착예정</dd>
						</dl>
					</div>
				</li>
				<li>
					<p class="status-txt">1달에 한번씩 배송</p>
					<figure class="prod-row-item">
						<span class="img">
							<a href="#"><img src="../../../img/mob/@dummy/goods-thumb-img140x140.jpg" alt="제품 이미지"></a>
						</span>
						<figcaption class="content">
							<div class="title">
								<a href="#">
									[NIGHT패키지] 래피드 솔루션 다이어트
									4주분+이지슬리밍 잔티젠 다이어트 4주분
									[NIGHT패키지] 래피드 솔루션 다이어트
									4주분+이지슬리밍 잔티젠 다이어트 4주분
								</a>
							</div>
							<dl class="option">
								<dt>옵션</dt>
								<dd>선택된 옵션명 정보 모두 노출 선택된 옵션명 정보 모두 노출 선택된 옵션명 정보 모두 노출 선택된 옵션명 정보 모두 노출</dd>
							</dl>
							<div class="utility">
								<dl class="option">
									<dt>수량</dt>
									<dd><strong>1</strong>개</dd>
								</dl>
								<div class="price">
									<strong>19,800</strong>원
								</div>
							</div>
							<div class="add">
								<div class="prod">
									<div class="img">
										<img src="../../../img/mob/@dummy/goods-thumb-img140x140.jpg" alt="">
										
										<!-- // 등록된 사진이 없을때 -->
										<!-- <img src="../../../img/mob/common/noimg.jpg" alt=""> -->
										<!-- 등록된 사진이 없을때 // -->
									</div>
									<div class="content">
										<p class="title">
											[1+1] 가르시니아 선택된 상품명 모두 노출 선택된 상품명 모두 노출 14포 x 2박스 4주분
										</p>
										<div class="utility">
											<dl class="option">
												<dt>수량</dt>
												<dd>
													<strong>
														2
													</strong>
													개
												</dd>
											</dl>
										</div>
									</div>
								</div>
							</div>
						</figcaption>
					</figure>
					<div class="date-item">
						<dl class="date-info">
							<dt>결제 예정일</dt>
							<dd>04월 07일(수)</dd>
							<dt>정기배송 예정일</dt>
							<dd>04월 14일 도착예정</dd>
							<dt>다음 배송 예정일</dt>
							<dd>05월 14일 도착예정</dd>
						</dl>
					</div>
				</li>
			</ul>
		</div>

		<div class="page-cont-head">
			<p class="com-txt2">배송정보</p>
			<button type="button" class="small-btn-util">배송지 변경</button>
		</div>
		<div class="info-cont-wrap">
			<dl class="cont-box">
				<dt>수령자명</dt>
				<dd>홍길동</dd>
				<dt>휴대폰번호</dt>
				<dd>010-1234-1234</dd>
				<dt>배송지</dt>
				<dd>서울 강남구 영동대로 511(트레이드타워) 2104호</dd>
				<dt>배송메시지</dt>
				<dd>부재 시, 연락 바랍니다.</dd>
			</dl>
		</div>

		<div class="page-cont-head">
			<p class="com-txt2">결제정보</p>
		</div>
		<div class="info-cont-wrap">
			<ul class="payment-list">
				<li>
					<dl class="cont-box payment">
						<dt>총 상품금액</dt>
						<dd><strong>999,999,999</strong>원</dd>
					</dl>
				</li>
				<li>
					<dl class="cont-box payment">
						<dt>
							총 할인금액
							<button type="button" class="btn-open"></button>
						</dt>
						<dd><strong>-999,999,999</strong>원</dd>
					</dl>
					<div class="deatil"> 
						<dl class="cont-box payment"> <!-- 항목이 없을 경우 숨김처리 -->
							<dt>정기배송 할인</dt>
							<dd><strong>-999,999,999</strong>원</dd>
						</dl>
					</div>
				</li>
				<li>
					<dl class="cont-box payment">
						<dt>
							배송비
							<button type="button" class="btn-open"></button>
						</dt>
						<dd>무료배송</dd>
					</dl>
				</li>
				<li class="total">
					<dl class="cont-box payment">
						<dt>총 결제예정금액</dt>
						<dd>
							<strong class="num color01">999,999,999</strong>원
							<ul class="info">
								<li>
									<span>마일리지</span>
									<span class="num color01">2,500</span>원 적립 예정
								</li>
							</ul>
						</dd>
					</dl>
				</li>
			</ul>
		</div>
		
		<div class="page-cont-head">
			<p class="com-txt2">자동결제 정보</p>
			<a href="#" class="small-btn-util">카드 변경</a>
		</div>
		<div class="info-cont-wrap">
			<dl class="cont-box">
				<dt>카드정보</dt>
				<dd>
					<div class="card-info">
						<span>KB 국민카드</span>
						<span class="card-num">1234-56**-****-****</span>
					</div>
					
				</dd>
			</dl>
		</div>

		<div class="btn-group center page-bot-group">
			<a href="./order-list.html" class="btn large primary">
				<span>목록보기</span>
			</a>
		</div>

		<div class="page-bot-notice">
			<p class="com-txt2">정기배송 안내</p>
			<ul class="com-txt5 dot-list">
				<li>정기 결제는 배송일 3일전 오전 8시 등록하신 카드로 결제됩니다.</li>
				<li>체크카드를 설정하신 경우 잔액 부족 시 15시까지 결제되지 <span>않을 경우	자동 주문 취소됩니다.</span></li>
				<li>결제 카드는 1개만 등록 가능하며, 다른 카드로 변경 시 <span>기존 카드는 해지됩니다.</span></li>
				<li>결제 이후 변경된 카드 정보는 다음 회차에 반영 됩니다.</li>
				<li>배송예정일이 주말/공휴일/명절의 경우, 휴일 이후 순차적으로 <span>배송됩니다.</span></li>
				<li>배송지 정보를 변경하시는 경우, 결제 예정의 정기배송 주문 건의 <span>배송지부터 적용됩니다.</span></li>
				<li>이미 결제 완료된 건의 배송지를 변경하시려면 <span>[마이페이지 > 주문/배송조회] 에서 변경해주세요.</span></li>

			</ul>
		</div>

	</div>
</div>
<script>
	$(function() {
		
		// 결제정보 토글 컨트롤
		$('.payment-list').children().each(function() {
			var openBtn = $(this).find($('.cont-box .btn-open'));
			var detailBox = $(this).find($('.cont-box')).next();
			
			// 총 할인금액, 배송비 추가 정보가 하나라도 있으면 버튼 노출 및 클릭 이벤트 실행

			if(detailBox.children().length < 1) {
				openBtn.hide();
				detailBox.hide();
			} else {
				openBtn.show();
				openBtn.on('click', function() {
					var $this = openBtn.index(this);
					openBtn.eq($this).toggleClass('is-open');
					detailBox.eq($this).toggleClass('is-open');
				});
			}
		});

});
</script>
{%- endblock %}