{% extends site + '/@inc/layout-empty.html' %}

{% block content -%}
<!-- .common-popup 옵션클래스: top, bottom, left, right -->
<article id="popupCouponApplicableProduct" class="common-popup" data-motion-in="400" data-motion-out="200">
	<div class="common-popup-inner popup-coupon-applicable-product">
		<div class="header">
			<h1 class="title">쿠폰 적용 상품 보기</h1>
			<button type="button" class="btn-close js-pop-close"><span>닫기</span></button><!-- .js-pop-close 팝업 닫기 기능 -->
		</div>
		<div class="container">
			<div class="coupon-applicable-product">
				<h2 class="title">쿠폰 정보</h2>
				<div class="coupon-info-wrap">
					<dl class="coupon-info">
						<dt>
							<span class="box">
								<span class="data">
									2,000
									<span class="won">원</span>
								</span>
								<span class="txt">COUPON</span>
							</span>
							<span class="title">
								프로모션명 출력 프로모션명 출력 프로모션명 출력 프로모션명 출력 프로프로모션명
							</span>
						</dt>
						<dd>
							<p class="info">
								<span class="tit">기간</span>
								<span class="con">
									2021.05.01 00:00 ~ 2021.05.30 23:59
								</span>
							</p>
							<p class="info">
								<span class="tit">사용 채널</span>
								<span class="con">
									구매전체 (PC/Mobile웹)
								</span>
							</p>
						</dd>
					</dl>
				</div>
				<h2 class="title">적용 대상</h2>
				<ul class="list">
					<li class="item">
						<a href="#">
							<div class="img">
								<img src="../../../img/pc/@dummy/goods-img01.png" alt="">
							</div>
							<div class="content">
								<p class="title">
									<span class="sub">
										스키니랩
									</span>
									<span class="main">
										마시는 시네트롤 자몽 다이어트 14포 x 4박스 상품명 모두 노출
									</span>
								</p>
								<p class="discount">321,000원</p>
								<p class="num">
									<span class="percent">47%</span>
									<span class="price">128,600</span>원
								</p>
							</div>
						</a>
					</li>
					<li class="item">
						<a href="#">
							<div class="img">
								<img src="../../../img/pc/@dummy/goods-img01.png" alt="">
							</div>
							<div class="content">
								<p class="title">
									<span class="sub">
										스키니랩
									</span>
									<span class="main">
										마시는 시네트롤 자몽 다이어트 14포 x 4박스 상품명 모두 노출
									</span>
								</p>
								<p class="discount">321,000원</p>
								<p class="num">
									<span class="percent">47%</span>
									<span class="price">128,600</span>원
								</p>
							</div>
						</a>
					</li>
					<li class="item">
						<a href="#">
							<div class="img">
								<img src="../../../img/pc/@dummy/goods-img01.png" alt="">
							</div>
							<div class="content">
								<p class="title">
									<span class="sub">
										스키니랩
									</span>
									<span class="main">
										마시는 시네트롤 자몽 다이어트 14포 x 4박스 상품명 모두 노출
									</span>
								</p>
								<p class="discount">321,000원</p>
								<p class="num">
									<span class="percent">47%</span>
									<span class="price">128,600</span>원
								</p>
							</div>
						</a>
					</li>
				</ul>
			</div>
			<div class="foot">
				<div class="btn-group center">
					<button type="button" class="btn-list-more">
						더보기
						<span class="icon-plus"></span>
					</button>
				</div>
			</div>
		</div>
	</div>
</article>
{%- endblock %}
