{%
	set pageInfo = {
		section: 'mypage',
		title: '개인정보 수정',
		order: [1,2]
	}
%}
{% extends site + '/@inc/layout.html' %}

{% block content -%}
<header class="page-header">
	{{ include('../@inc/noti-bar.html') }}
	<div class="wrap">
		{{ include('../@inc/sub-header.html') }}
		<span class="page-title">{{pageInfo.title}}</span>
	</div>
	{{ include('../@inc/search.html') }}
	{{ include('../@inc/gnb.html') }}
</header>


<!-- Content // -->
<div id="content-main" class="common-container section-{{pageInfo.section}} {{pageInfo.section}}-profile-modify">
	<div class="container-wrap">
		<h3 class="hide">개인정보 수정</h3>

		<div class="content-main-wrap">
			<div class="profile-list">
				<dl class="row">
					<dt class="title">아이디</dt>
					<dd class="content">skinnylab@abc.com</dd>
				</dl>
				<dl class="row">
					<dt class="title">
						<label for="userName">이름</label>
					</dt>
					<dd class="content">
						<span class="input-text-del">
							<input type="text" id="userName" name="userName" value="홍길동" placeholder="" class="text block" disabled>
							<button type="button" class="btn outline thin primary">본인인증</button>
						</span>
					</dd>
				</dl>
				<dl class="row">
					<dt class="title">
						<label for="userPhone">휴대폰 번호</label>
					</dt>
					<dd class="content">
						<span class="input-tel">
							<input type="tel" id="userPhone" name="userPhone" value="010-1234-5678" placeholder="" class="text block" disabled>
						</span>
						<!-- 오류 메세지 -->
						<!-- <p class="error-msg is-invalid">휴대폰번호를 입력해 주세요.</p> -->
					</dd>
				</dl>
				<dl class="row">
					<dt class="title">
						<label for="userBirth">생년월일</label>
					</dt>
					<dd class="content">
						<span class="input-text-del">
							<input type="text" id="userBirth" name="userBirth" value="19971012" placeholder="생년월일/성별 입력" class="text block" disabled>
							<span class="input-radio gender disabled"><!-- 비활성화 버튼 클래스 ( hover 효과 X ) : disabled -->
								<input type="radio" id="man" name="gender" class="radio" disabled>
								<label for="man" class="btn outline thin primary">남</label>
								<input type="radio" id="woman" name="gender" class="radio" disabled checked>
								<label for="woman" class="btn outline thin primary">여</label>
							</span>
						</span>
					</dd>
				</dl>
				<dl class="row">
					<dt class="title">
						<label for="userEmail">정보 수신 이메일</label>
					</dt>
					<dd class="content">
						<span class="input-text-del">
							<input type="text" id="userEmail" name="userEmail" value="skinnylab@abc.com" placeholder="" class="text block" maxlength="100">
						</span>
						<!-- 오류 메세지 -->
						<!-- <p class="error-msg is-invalid">정보 수신 이메일을 입력해 주세요.</p> -->
					</dd>
				</dl>
			</div>
			<div class="withdrawal">
				<a href="./member-withdraw.html" class="btn-open">
					회원탈퇴
				</a>
			</div>
			<div class="btn-group center">
				<a href="#" class="btn primary outline large">취소</a>
				<a href="#" class="btn primary large">저장</a>
			</div>
		</div>
	</div>
</div>
<!-- // Content -->
<script>
</script>
{%- endblock %}
