{%
	set pageInfo = {
		section: 'mypage',
		title: '재입고 알림 신청내역',
		order: [6,0]
	}
%}
{% extends site + '/@inc/layout.html' %}

{% block content -%}
<header class="page-header">
	{{ include('../@inc/noti-bar.html') }}
	<div class="wrap">
		{{ include('../@inc/sub-header.html') }}
		<span class="page-title">{{pageInfo.title}}</span>
	</div>
	{{ include('../@inc/search.html') }}
	{{ include('../@inc/gnb.html') }}
</header>
<div id="content-main" class="common-container section-{{pageInfo.section}} {{pageInfo.section}}-restock-notification">
	<div class="container-wrap">
		<h3 class="hide">재입고 알림 신청내역</h3>
		<div class="product-select">
			<div class="util">
				<div class="select">
					<label class="check">
						<input type="checkbox" name="allCheck" id="allCheck" class="check">
						<span>전체선택</span>
					</label>
				</div>
				<div class="del">
					<button type="button" class="btn small outline2">선택삭제</button>
				</div>
			</div>
			<ul class="list">
				{% for i in range(0,10) %}
				<li>
					<div class="item">
						<a href="#">
							<div class="thumb">
								<div class="img">
									<img src="{{base}}/img/mob/@dummy/goods-thumb-img360x360.jpg" alt="상품 이미지">
								</div>
								<label class="check-only">
									<input type="checkbox" class="check">
									<span>상품선택</span>
								</label>
							</div>
							<div class="content">
								<div class="info">
									<p class="name">
										가벼워지는 시서스다이어트 14포 X 4박스 + 석류 콜라겐 14포 x 2박스 상품명
									</p>
									<dl class="option">
										<dt>옵션</dt>
										<dd>선택된 옵션명 정보 모두 노출</dd>
									</dl>
								</div>
							</div>
						</a>
					</div>
					<div class="status-box">
						<dl>
							<dt class="noti">알림기간</dt>
							<dd class="noti">
								<strong>
									2021.05.04~2021.06.03
								</strong>
							</dd>
						</dl>
						<dl>
							<dt class="str">알림방법</dt>
							<dd class="str">
								<strong>
									SMS
								</strong>
							</dd>
						</dl>
					</div>
					<button type="button" class="btn-close"><span>닫기</span></button>
				</li>
				{% endfor %}
			</ul>

			<!-- 찜한 상품 없음 // -->
			<div class="empty">
				<p class="desc">재입고 알림<br>신청내역이 없습니다.</p>
			</div>
			<!-- // 찜한 상품 없음 -->

		</div>
		<div class="btn-group center">
			<button type="button" class="btn-list-more">
				더보기
				<span class="icon-plus"></span>
			</button>
		</div>
		<div class="page-sub-noti">
			<p class="title">재입고 알림 안내</p>
			<ul class="list">
				<li>재입고 알림은 신청일로부터 최대 1개월 이내 재 입고가 될 경우 알림이 발송됩니다.</li>
				<li>재입고 알림은 먼저 신청한 순서대로 발송되며, 재 입고 알림을 받았더라도 구매 시점에 따라 품절이 발생할 수 있습니다.</li>
			</ul>
		</div>
	</div>
</div>

<script>
	$(function(){
		// 제품목록 체크박스 컨트롤
		var allCheck = $('input:checkbox[id="allCheck"]');
		var itemCheck = $('.product-select .check-only input[type=checkbox]');

		// 전체 선택 / 해제
		allCheck.click(function(){
			if(allCheck.prop("checked")) {
				itemCheck.prop('checked', true);
			} else {
				itemCheck.prop('checked', false);
			}
		});

		// 개별 선택 / 해제
		itemCheck.each(function() {
			$(this).click(function() {

				if($(this).prop("checked")) {
					checkBoxLen = itemCheck.length;
					checkLen = $('.product-select .select input[type=checkbox]:checked').length;
					
					if(checkBoxLen == checkLen) { // 체크박스 전부 체크 됐을 경우
						allCheck.prop('checked', true);
					} else {
						allCheck.prop('checked', false);
					}
				} else {
					allCheck.prop('checked', false);
				}
				
			});
		});
	
		// 문의 유형 - 선택 주문 상품 노출 닫기
		$('.mypage-restock-notification .product-select .list .btn-close').click(function(){
			$(this).parent().hide()
		})
	})
</script>
{%- endblock %}