{%
	set pageInfo = {
		section: 'login',
		title: '비밀번호 찾기 &lt; 로그인'
	}
%}
{% extends site + '/@inc/layout.html' %}

{% block content -%}
<!-- Content // -->
<div id="content-main" class="common-container section-member member-find-pw-change">
	<div class="member-layout">
		<h2 class="hide">로그인</h2>

		<div class="head">
			<h3 class="title">신규 비밀번호 설정</h3>
			<p class="desc"><strong>새로운 비밀번호</strong>를 <strong>설정</strong>해주세요.</p>
		</div>

		<div class="body">
			<div class="form-layout vertical">
				<dl class="row">
					<dt class="title">아이디(이메일)</dt>
					<dd class="content">
						<p class="data">sk******b@abc.com</p>
					</dd>
				</dl>
				<dl class="row">
					<dt class="title">
						<label for="newPw01">신규 비밀번호</label>
					</dt>
					<dd class="content">
						<span class="input-text-del">
								<!-- [ 공통 ] input class="is-invalid" 추가 시, 선 색상 변경 -->
							<input type="password" id="newPw01" name="newPw01" value="" placeholder="신규 비밀번호 입력" class="text block underline" maxlength="16">
						</span>
						<!-- 오류 메세지 -->
						<!-- <p class="error-msg is-invalid">신규 비밀번호를 입력해주세요.</p> -->
					</dd>
				</dl>
				<dl class="row">
					<dt class="title">
						<label for="newPw02">신규 비밀번호 확인</label>
					</dt>
					<dd class="content">
						<span class="input-text-del">
							<input type="password" id="newPw02" name="newPw02" value="" placeholder="신규 비밀번호 확인" class="text block underline" maxlength="16">
						</span>
						<!-- 오류 메세지 -->
						<!-- <p class="error-msg is-invalid">신규 비밀번호 확인을 입력해주세요.</p> -->
					</dd>
				</dl>
				<a href="#" class="btn primary large long motion mgt30">
					<span>비밀번호 변경하기</span>
				</a>
				<p class="caution">영문 / 숫자 / 특수문자 조합으로 최소 8자 가능<br>아이디와 3자리 이상 동일하거나, 3자리 이상 반복 문자와 숫자는 사용 불가합니다.</p>
			</div>
		</div>
	</div>
</div>
<!-- // Content -->
{%- endblock %}