{%
	set pageInfo = {
		section: 'join',
		title: '회원가입'
	}
%}
{% extends site + '/@inc/layout.html' %}

{% block content -%}
<!-- Content // -->
<div id="content-main" class="common-container section-member member-join">
	<div class="member-layout">

		<div class="head">
			<h2 class="title">회원가입</h2>
			<p class="desc">가입방법을 <strong>선택 후 </strong>진행해주세요.</p>
		</div>

		<div class="body">
			<div class="join-info">
				<h3 class="title">헬스밸런스 통합 회원</h3>
				<p class="desc">헬스밸런스 통합회원 가입 후<br><strong>다양한 서비스와 혜택을 이용</strong>해보세요.</p>
				<a href="#" class="btn primary large long motion">
					<span>휴대폰 본인인증</span>
				</a>
			</div>
			
			<div class="sns-login">
				<h3>SNS 간편 로그인</h3>
				<p class="caution">SNS 계정을 연동하여 빠르고 쉽고 안전하에 회원가입 할 수 있습니다.<br>이 과정에서 고객님의 데이터는 철저하게 보호됩니다.</p>
				<ul>
					<li><a href="#">카카오</a></li>
					<li><a href="#">네이버</a></li>
					<li><a href="#">구글</a></li>
				</ul>
			</div>
		</div>
	</div>

	<!-- 통합회원전환 팝업 // -->
	<article id="popup-noti-membership" class="common-popup hidden-title is-layer" style="display: none;">
		<div class="common-popup-inner popup-noti-membership">
			<div class="header">
				<h1 class="title">
					통합회원전환
				</h1>
			</div>
			<div class="container">
				<div class="noti-membership">
					<div class="banner">
						<div class="img">
							<a href="#" title="통합회원 전환하기">
								<img src="{{base}}/img/pc/member/existing-membership-img01.jpg" alt="2021년 10월 7일부터 고객님의 기존 스키니랩 ID사용이 제한되며, 헬스밸런스 통합회원 ID와 비밀번호로만 서비스를 이용하실 수 있습니다.">
							</a>
						</div>
					</div>
					<div class="btn-area">
						<button type="button" class="btn-cookie"><span>오늘 하루 보지 않기</span></button>
						<button type="button" class="btn-close js-pop-close"><span>닫기</span></button>
					</div>
				</div>
			</div>
		</div>
	</article>

	<script>
		// 쿠키
		function setCookie(name, value, expiredays){
			var today = new Date();

			today.setDate(today.getDate() + expiredays);
			document.cookie = name + '=' + escape(value) + '; expires=' + today.toGMTString();
		}

		function getCookie(name) {
			var cookie = document.cookie;

			if (document.cookie != "") {
				var cookie_array = cookie.split("; ");

				for ( var index in cookie_array) {
					var cookie_name = cookie_array[index].split("=");

					if (cookie_name[0] == "skinnylabExistingMembership") return cookie_name[1];
				}
			}

			return;
		}

		$("#popup-noti-membership .btn-cookie").click(function() {
			UI.closeLayerPop('#popup-noti-membership');
			setCookie("skinnylabExistingMembership", 'popupEnd', 1);
		});

		var checkCookie = getCookie("skinnylabExistingMembership");

		if(checkCookie == 'popupEnd') {
			$("#popup-noti-membership").removeClass('is-layer');
			$('html').removeClass('scroll-fixed');
		} else {
			UI.showLayerPop('#popup-noti-membership');
		}
	</script>
	<!-- // 통합회원전환 팝업 -->
</div>
<!-- // Content -->
{%- endblock %}