{% extends site + '/@inc/layout-empty.html' %}

{% block content -%}
<!-- 옵션클래스: full, full-scroll, hidden-title -->
<article class="common-popup" data-motion-in="400" data-motion-out="200">
	<div class="common-popup-inner popup-terms">
		<div class="header">
			<h1 class="title">
				이용약관
			</h1>
			<button type="button" class="btn-close js-pop-close"><span>닫기</span></button>
		</div>
		<div class="container">
			<div class="popup-license">
				이용약관
				<div class="popup-license-wrap">
					<p class="popup-license-desc">
						안녕하세요. <br>
						고객 여러분, 스키니랩에 방문해주셔서 감사합니다. <br>
						이 사이트를 통해 고객님들께 건강한 삶의 균형과 관련된 다양한 정보를 제공할 수 있게 됨을 매우 기쁘게 생각하며, <br>
						스키니랩 및 공식스토어 이용 관련하여 방문자 여러분들께 몇 가지 이용과 관련된 사항을 알려 드리고자 합니다.
					</p>
				</div>
				<div class="popup-license-wrap">
					<h2 class="popup-license-tit">제 1조 (목적)</h2>
					<p class="popup-license-desc">이 약관은 "헬스밸런스(주)"에서 제공하는 쇼핑몰을 이용함에 있어 이용자의 권리&middot;의무 및 책임사항을 규정함을 목적으로 합니다.</p>
				</div>
				<div class="popup-license-wrap">
					<h2 class="popup-license-tit">제 2조 (정의)</h2>
					<ul class="popup-license-list">
						<li>① 쇼핑몰이라 함은 재화 또는 용역을 이용자에게 제공하기 위하여 컴퓨터 등 정보 통신설비를 이용하여 재화 또는 용역을 거래할 수 있도록 설정한 가상의 영업장을 말하며, 쇼핑몰을 운영하는 사업자의 의미로도 사용합니다.</li>
						<li>② 이용자라 함은 쇼핑몰에 접속하여 서비스를 받는 회원 및 비회원을 말합니다.</li>
						<li>③ 회원이라 함은 쇼핑몰에 개인정보를 제공하여 회원 등록을 한 자로서, 쇼핑몰의 정보를 지속적으로 제공받으며, 서비스를 이용할 수 있는 자를 말합니다.</li>
						<li>④ 비회원이라 함은 회원에 가입하지 않고 쇼핑몰이 제공하는 서비스를 이용하는 자를 말합니다.</li>
					</ul>
				</div>
				<div class="popup-license-wrap">
					<h2 class="popup-license-tit">제 3조 (약관의 명시와 개정)</h2>
					<p class="popup-license-desc"></p>
				</div>
			</div>
			<div class="foot">
				<div class="btn-area">
					<a href="#" class="btn large primary motion">
						<span>확인</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</article>
{%- endblock %}