{%
	set pageInfo = {
		section: 'product',
		title: 'THIN소재',
		order: '1'
	}
%}
{% extends site + '/@inc/layout.html' %}

{% block content -%}
<header class="page-header">
	{{ include('../@inc/noti-bar.html') }}
	<div class="wrap">
		{{ include('../@inc/sub-header.html') }}
		<span class="page-title {%if (pageInfo.order[0] == '1') %}hide{% endif %}">{{pageInfo.title}}</span>
	</div>
	{{ include('../@inc/search.html') }}
</header>
<div id="content-main" class="common-container section-{{pageInfo.section}} {{pageInfo.section}}-detail">
	<!-- // 제품 -->
	<div class="detail-wrap">
		<div class="image swiper-container">
			<ul class="list swiper-wrapper">
				<!-- // 등록된 사진이 없을때 -->
				<li class="swiper-slide">
					<div class="img">
						<img src="{{base}}/img/mob/common/noimg.jpg" alt="등록된 사진이 없습니다.">
					</div>
				</li>
				<!-- 등록된 사진이 없을때 // -->
			</ul>
			<div class="swiper-button-next"></div>
			<div class="swiper-button-prev"></div>
			<div class="swiper-pagination"></div>
		</div>
		<div class="noti">오후 4시 이전 결제 완료 시 당일 출고!</div>
		<div class="content">
			<div class="head">
				<div class="util-wrap">
					<p class="status">
						<span class="tag primary">신제품</span>
						<span class="tag secondary">베스트</span>
						<span class="tag white">사은품</span>
					</p>
					<div class="util">
						<label class="check-like"><input type="checkbox"> <span>찜하기</span></label>
						<div class="share">
							<button type="button" class="btn-open" onclick="$(this).parents('.share').find('.content').show(); return false;">공유하기 열기</button>
							<div class="content">
								<div class="box">
									<ul class="list">
										<li>
											<a href="#">
												<span class="icon facebook"></span>
												<span class="tit">페이스북</span>
											</a>
										</li>
										<li>
											<a href="#">
												<span class="icon kakao"></span>
												<span class="tit">카카오톡</span>
											</a>
										</li>
										<li>
											<a href="#">
												<span class="icon url"></span>
												<span class="tit">URL복사</span>
											</a>
										</li>
									</ul>
									<button type="button" class="btn-close" onclick="$(this).parents('.share').find('.content').hide(); return false;">공유하기 닫기</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<p class="hashtag">
					<span>#시서스추출물</span>
					<span>#체지방감소</span>
					<span>#홈쇼핑동일제품</span>
				</p>
				<h2 class="title">
					<span class="sub">
						스키니랩
					</span>
					<span class="main">
						가벼워지는 시서스다이어트 14포 x 4박스 + 석류 콜라겐 14포
					</span>
				</h2>
			</div>
			<div class="body">
				<dl class="price non">
					<dt class="tit">비회원가</dt>
					<dd class="con">
						<span class="num">
							321,000
						</span>
						<span class="won">원</span>
					</dd>
				</dl>
				<dl class="price">
					<dt class="tit">회원가</dt>
					<dd class="con">
						<span class="rate">
							47%
						</span>
						<span class="num">
							128,600
						</span>
						<span class="won">원</span>
					</dd>
				</dl>
				<dl class="info">
					<dt class="tit">적립혜택</dt>
					<dd class="con">
						회원가입 시 
						<span class="str">
							2,380원 적립!
						</span>
					</dd>
				</dl>
				<dl class="info">
					<dt class="tit">배송비</dt>
					<dd class="con">
						무료
						<div class="delivery-discount">
							<button type="button" class="btn-open" onclick="$(this).parents('.delivery-discount').find('.content').show(); return false;">배송비 정보 열기</button>
							<div class="content" style="display: none;">
								<div class="box">
									<p class="tit">할인</p>
									<ul class="list">
										<li>업체별, 상품별에 따라 배송비 정책이 상이할 수 있으므로 정확한 배송비 정보는 주문/결제 화면에서 확인해주세요.</li>
									</ul>
									<button type="button" class="btn-close" onclick="$(this).parents('.delivery-discount').find('.content').hide(); return false;">공유하기 닫기</button>
								</div>
							</div>
						</div>
					</dd>
				</dl>
				<dl class="info">
					<dt class="tit">사은품</dt>
					<dd class="con">
						<span class="info-con-gift">
							<img src="{{base}}/img/mob/@dummy/product-detail-img01.jpg" alt="사은품">
							스키니랩<br>석류콜라겐 1박스
						</span>
					</dd>
				</dl>
				<dl class="info">
					<dt class="tit">
						<label for="delivery1">배송구분</label>
					</dt>
					<dd class="con">
						<span class="info-con-delivery">
							<span>
								<input type="radio" id="delivery1" name="delivery" class="radio" checked>
								<label for="delivery1">1회구매</label>
							</span>
							<span>
								<input type="radio" id="delivery2" name="delivery" class="radio">
								<label for="delivery2">정기배송</label>
								<button class="open-popup" onclick="UI.showLayerPop('',{ url: '../common/popup-delivery-guide.html'}); return false;">정기배송안내 팝업열기</button>
							</span>
						</span>
					</dd>
				</dl>
			</div>
		</div>
	</div>
	<!-- 제품 // -->

	<!-- // 탭 컨텐츠 -->
	<div class="tab-group-wrap">
		<div class="tab-menu">
			<div class="wrap">
				<ul class="list tab-menu-box">
					<li class="is-active tab">
						<button type="button">상품상세</button>
					</li>
					<li class="tab">
						<button type="button">구매정보</button>
					</li>
					<li class="review tab">
						<button type="button">
							상품리뷰
							<span class="sup">
								99
							</span>
						</button>
					</li>
					<li class="tab">
						<button type="button">
							상품문의
							<span class="sup">
								99
							</span>
						</button>
					</li>
				</ul>
			</div>
		</div>

		<!-- // 상품 상세 -->
		<div class="tab-content detail-info">
			<h3 class="hide">상품상세</h3>
			<div class="info-img">
				<!-- // 등록된 사진이 없을때 -->
				<img src="{{base}}/img/mob/common/noimg.jpg" alt="등록된 사진이 없습니다.">
				<!-- 등록된 사진이 없을때 // -->
			</div>
			<div class="info-product accordion-list">
				<dl class="item on">
					<dt class="title">
						<a href="#">상품필수 정보</a>
					</dt>
					<dd class="content">
						<dl>
							<dt>식품의 유형</dt>
							<dd>
								<p>
									개별인정형 건강식품
								</p>
							</dd>
						</dl>
						<dl>
							<dt>생산자</dt>
							<dd>
								<p>
									코스맥스바이오㈜
								</p>
							</dd>
						</dl>
						<dl>
							<dt>소재지</dt>
							<dd>
								<p>
									코스맥스바이오(주)충청북도 제천시 바이오밸리 3로 30(왕암동)
								</p>
							</dd>
						</dl>
						<dl>
							<dt>제조연월일</dt>
							<dd>
								<p>
									매번 입고시 수정이 어려운 부분으로, 1644-7267으로  연락주시면 자세히 안내드리겠습니다.
								</p>
							</dd>
						</dl>
						<dl>
							<dt>유통기한 또는 품질유지기한</dt>
							<dd>
								<p>
									매번 입고시 수정이 어려운 부분으로, 1644-7267으로  연락주시면 자세히 안내드리겠습니다.
								</p>
							</dd>
						</dl>
						<dl>
							<dt>포장단위별 용량 (중량)</dt>
							<dd>
								<p>
									2g x 14포(28g)
								</p>
							</dd>
						</dl>
						<dl>
							<dt>포장단위별 수량</dt>
							<dd>
								<p>
									2g x 14포(28g) x 4박스
								</p>
							</dd>
						</dl>
						<dl>
							<dt>원재료명 및 함량</dt>
							<dd>
								<p>
									시서스추출물(Quercetion 1.22%, Isorhamnetin 0.037%, 인도산), D-알파-토코페릴초산염혼합제제 (비타민E 46%이상, D-a-토코페릴아세테이트, 아라비아검, 이산화규소), 비타민A혼합제제(비타민A 9.8%함유, 말토덱스트린, 아라비아검, 옥수수전분, 레티닐아세트산염, 비타민E), 판토텐산칼슘(판토텐산91%), 비오틴, 치커리뿌리추출물(네덜란드산), 시클로덱스트린, 합성향료(오곡향), 이산화규소, 옥수수수염추출분말(국산), 우엉농축분말, 곡류혼합효소분말(찹쌀, 찰현미, 현미, 기장, 흑미, 수수, 찰흑미, 찰보리, 늘보리, 차조, 보리쌀, 황국균, 백태, 흑태, 적두, 율무)대두함유
								</p>
							</dd>
						</dl>
						<dl>
							<dt>영양정보</dt>
							<dd>
								<p>
									1일 섭취량 당 함량 : 열량 15Kcal, 탄수화물 4g(1%), 단백질 0mg(0%), 지방 0g(0%), 나트륨 0mg(0%), Quercetin 3.66mg, Isorhamnetin 0.111mg, 비타민A 700ug RE(100%), 비타민E 11mg a-TE(100%), 판토텐산 5mg(100%), 비오틴 200ug(667%)
								</p>
							</dd>
						</dl>
						<dl>
							<dt>기능정보</dt>
							<dd>
								<p>
									[시서스추출물] 체지방 감소에 도움을 줄 수 있음. [비타민A] 어두운 곳에서 시각 적응을 위해 필요, 피부와 점막을 형성하고 기능을 유지하는데 필요, 상피세포의 성장과 발달에 필요. [비타민E] 유해산소로부터 세포를 보호하는데 필요. [판토텐산] 지방, 탄수화물, 단백질 대사와 에너지 생성에 필요. [비오틴] 지방, 탄수화물, 단백질 대사와 에너지 생성에 필요.
								</p>
							</dd>
						</dl>
						<dl>
							<dt>섭취량, 섭취방법 및 섭취 시 주의사항</dt>
							<dd>
								<p>
									[섭취량 및 섭취방법] 1일 2회, 1회 1포를 섭취하십시오. [섭취 시 주의사항] 섭취 시 목에 걸리거나 불편할 수 있으므로 반드시 물과 함께 섭취하십시오. 섭취 시 위장장애, 소화불량의 증상이 있을 경우 섭취를 중단하십시오. <br>개인의 신체 상태에 따라 이상 증상이 생길 경우 섭취를 중단하십시오. 섭취 전 제품에 이상이 있는 경우 섭취를 금하십시오. 특정원료 성분에 알레르기 체질은 원료 성분을 확인 후 섭취하십시오. 영유아, 어린이, 임산부 및 수유부는 섭취에 주의하십시오. 의약품(혈당강하제) 복용 시 섭취에 주의하십시오.
								</p>
							</dd>
						</dl>
						<dl>
							<dt>질병의 예방 및 치료를 위한 의약품이 <br>아니라는 내용의 표현</dt>
							<dd>
								<p>
									본 제품은 질병의 예방 및 치료를 위한 의약품이 아닙니다.
								</p>
							</dd>
						</dl>
						<dl>
							<dt>유전자재조합식품에 해당하는 경우의 표시</dt>
							<dd>
								<p>
									해당없음
								</p>
							</dd>
						</dl>
						<dl>
							<dt>표시광고 사전심의필</dt>
							<dd>
								<p>
									190210230
								</p>
							</dd>
						</dl>
						<dl>
							<dt>수입식품에 해당하는 경우 건강기능식품에 <br>관한 법률에 따른 수입신고 필함의 문구</dt>
							<dd>
								<p>
									해당없음
								</p>
							</dd>
						</dl>
						<dl>
							<dt>소비자상담 관련 전화번호</dt>
							<dd>
								<p>
									1644-7267
								</p>
							</dd>
						</dl>
					</dd>
				</dl>
			</div>
		</div>
		<!-- 상품 상세 // -->

		<!-- // 구매 정보 -->
		<div class="tab-content detail-order">
			<h3 class="hide">구매정보</h3>
			<div class="order-guide accordion-list">
				<!-- // 구매정보가 없을때 -->
				<dl>
					<dt class="empty">구매정보가 없습니다.</dt>
				</dl>
				<!-- 구매정보가 없을때 // -->
			</div>
		</div>
		<!-- 구매 정보 // -->

		<!-- // 상품 리뷰 -->
		<div class="tab-content detail-review">
			<h3 class="hide">상품리뷰</h3>
			<div class="grade-box">
				<dl>
					<dt>고객 만족도</dt>
					<dd>
						<span class="num">
							4.0
						</span>
						<span class="hide">점</span>
						<span class="grade-star">
							<span class="fill" style="width: 80%;"></span>
						</span>
					</dd>
				</dl>
			</div>
			<div class="review-carousel">
				<p class="title">BEST 상품리뷰</p>
				<div class="list">
					<div class="wrap swiper-container">
						<ul class="inner swiper-wrapper">
							<!-- // 등록된 리뷰가 없을때 -->
							<li class="swiper-slide">
								<p class="empty">
									등록된 리뷰가 없습니다.
								</p>
							</li>
							<li class="swiper-slide">
								<p class="empty">
									등록된 리뷰가 없습니다.
								</p>
							</li>
							<!-- 등록된 리뷰가 없을때 // -->
						</ul>
					</div>
				</div>
			</div>
			<!-- // 등록된 상품리뷰가 없을떄 -->
			<div class="result-txt is-error">
				<p class="com-txt">등록된 상품리뷰가 없습니다.</p>
				<button type="button" class="btn large primary" onclick="UI.showLayerPop('',{ url: './popup-review-write.html'}); return false;">
					<span>상품리뷰 쓰기</span>
				</button>
			</div>
			<!-- 등록된 상품리뷰가 없을떄 // -->
		</div>
		<!-- 상품 리뷰 // -->

		<!-- // 상품 문의 -->
		<div class="tab-content detail-inquire">
			<h3 class="hide">상품문의</h3>
			<!-- // 등록된 상품문의가 없을떄 -->
			<div class="result-txt is-error">
				<p class="com-txt">등록된 상품문의가 없습니다.</p>
				<!-- // 비회원 상품문의쓰기 -->
				<button type="button" class="btn large primary" onclick="UI.showLayerPop('',{ url: './popup-inquire-write-nonmember.html'}); return false;">
					<span>상품문의쓰기</span>
				</button>
				<!-- 비회원 상품문의쓰기 // -->

				<!-- // 회원 상품문의쓰기 -->
				<!-- <button type="button" class="btn large primary" onclick="UI.showLayerPop('',{ url: './popup-inquire-write-member.html'}); return false;">
					<span>상품문의쓰기</span>
				</button> -->
				<!-- 회원 상품문의쓰기 // -->
			</div>
			<!-- 등록된 상품문의가 없을떄 // -->
		</div>
		<!-- 상품 문의 // -->
	</div>
	<!-- 탭 컨텐츠 // -->

	<!-- 비주얼 영역 // -->
	<div class="detail-visual scroll-check">
		<div class="bg">
			<div class="inner"></div>
		</div>
		<p class="wrap">
			<span class="desc">
				<span class="line">
					<span class="inner">다이어트를<br>넘어,</span>
				</span>
				<span class="line">
					<span class="inner">자기관리의<br>시작.</span>
				</span>
			</span>
			<span class="model">
				<span class="inner"></span>
			</span>
			<span class="title">
				<span class="inner">skinnylab</span>
			</span>
			<span class="txt">
				<span class="line">
					<span class="inner">&lt;다이어트는 다 똑같다?&gt;가 아닌 개인마다 다른 다이어트,</span>
				</span>
				<span class="line">
					<span class="inner">맞춤 다이어트를 제공하는 다이어트 전문 브랜드입니다.</span>
				</span>
			</span>
		</p>
	</div>
	<!-- // 비주얼 영역 -->

	<!-- 관련제품 영역 -->
	<div class="recommend-product">
		<div class="head">
			<h3 class="title">관련제품</h3>
		</div>
		<div class="swiper-container">
			<ul class="goods-list2 swiper-wrapper">
				<li class="swiper-slide">
					<p class="empty">
						등록된 상품이<br>없습니다.
					</p>
				</li>
				<li class="swiper-slide">
					<p class="empty">
						등록된 상품이<br>없습니다.
					</p>
				</li>
			</ul>
		</div>
	</div>
	<!--// 관련제품 영역 -->

	<!-- 관련 배너 영역 // -->
	<div class="recommend-banner">
		<div class="head">
			<h3 class="title">관련기획전</h3>
		</div>
		<div class="list swiper-container">
			<ul class="wrap swiper-wrapper">
				<!-- // 예정된 기획전이 없을때 -->
				<li class="swiper-slide">
					<p class="empty">
						예정된 기획전이 없습니다.
					</p>
				</li>
				<li class="swiper-slide">
					<p class="empty">
						예정된 기획전이 없습니다.
					</p>
				</li>
				<!-- 예정된 기획전이 없을때 // -->
			</ul>
		</div>
	</div>
	<!-- // 관련 배너 영역 -->

	<!-- 스와이프 영역// -->
	<div class="sticky-bottom">
		<div class="content-area">
			<button type="button" class="btn-open" onclick="$(this).parents('.sticky-bottom').find('.content-area, .con-detail, .btn-open').toggleClass('on'); return false;">결제 예정 정보 버튼</button>
			<div class="order-info">
				<div class="con-detail bill">
					<div class="con-wrap">
						<span class="delivery">
							<span>
								<input type="radio" id="orderdelivery1" name="orderDelivery" class="radio" checked>
								<label for="orderdelivery1">일반배송</label>
							</span>
							<span>
								<input type="radio" id="orderdelivery2" name="orderDelivery" class="radio">
								<label for="orderdelivery2">정기배송</label>
							</span>
						</span>
						<div class="main-option">
							<div class="option-dropdown">
								<div class="wrap">
									<p class="title">
										<button type="button">
											가벼워지는 시서스다이어트 14포 x 4박스 + 석류 콜라겐 14포 x 2박스
										</button>
									</p>
									<div class="list">
										<ul class="inner">
											<li>
												<input type="radio" id="option1" name="option" checked>
												<label for="option1">
													옵션값11111111111111111111111111111111111111111111111111
												</label>
											</li>
											<li>
												<input type="radio" id="option2" name="option" disabled>
												<label for="option2">
													옵션값2222222222222222222222222222222222222222222222222
												</label>
											</li>
											<li>
												<input type="radio" id="option3" name="option">
												<label for="option3">
													옵션값3333333333333333333333333333333333333333333333333
												</label>
											</li>
											<li>
												<input type="radio" id="option4" name="option">
												<label for="option4">
													옵션값4444444444444444444444444444444444444444444444444
												</label>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="result">
								<div class="counting">
									<span class="input-amount-counting">
										<label for="counting" class="hide">수량 선택</label>
										<button type="button" class="btn-counting-minus">수량 한개 삭제</button>
										<input type="number" id="counting" name="counting" value="5" class="count">
										<button type="button" class="btn-counting-plus">수량 한개 추가</button>
									</span>
								</div>
								<p class="price">
									<span class="num">128,600</span>
									<span class="won">원</span>
								</p>
							</div>
						</div>
						<div class="sub-option">
							<div class="option-dropdown">
								<p class="title">
									<button type="button">
										추가 상품 선택
									</button>
								</p>
								<div class="list">
									<ul class="inner">
										<li>
											<input type="radio" id="option21" name="option22" checked>
											<label for="option5">
												옵션값11111111111111111111111111111111111111111111111111
											</label>
										</li>
										<li>
											<input type="radio" id="option22" name="option22" disabled>
											<label for="option6">
												옵션값2222222222222222222222222222222222222222222222222
											</label>
										</li>
										<li>
											<input type="radio" id="option23" name="option22">
											<label for="option7">
												옵션값3333333333333333333333333333333333333333333333333
											</label>
										</li>
										<li>
											<input type="radio" id="option24" name="option22">
											<label for="option8">
												옵션값4444444444444444444444444444444444444444444444444
											</label>
										</li>
									</ul>
								</div>
							</div>
							<div class="result">
								<div class="item">
									<p class="tit">상품명 노출 상품명 모두 노출</p>
									<div class="counting">
										<span class="input-amount-counting">
											<label for="counting2" class="hide">수량 선택</label>
											<button type="button" class="btn-counting-minus">수량 한개 삭제</button>
											<input type="number" id="counting2" name="counting" value="5" class="count">
											<button type="button" class="btn-counting-plus">수량 한개 추가</button>
										</span>
									</div>
									<p class="price">
										<span class="num">128,600</span>
										<span class="won">원</span>
									</p>
									<button type="button" class="btn-close">추가옵션 삭제</button>
								</div>
								<!-- <div class="item">
									<p class="tit">상품명 노출 상품명 모두 노출</p>
									<div class="counting">
										<span class="input-amount-counting">
											<label for="counting3" class="hide">수량 선택</label>
											<button type="button" class="btn-counting-minus">수량 한개 삭제</button>
											<input type="number" id="counting3" name="counting" value="5" class="count">
											<button type="button" class="btn-counting-plus">수량 한개 추가</button>
										</span>
									</div>
									<p class="price">
										<span class="num">128,600</span>
										<span class="won">원</span>
									</p>
									<button type="button" class="btn-close">추가옵션 삭제</button>
								</div> -->
							</div>
						</div>
					</div>
					<div class="total">
						<span class="text">총</span>
						<p class="price">
							<span class="num">128,600</span>
							<span class="won">원</span>
						</p>
					</div>
					<p class="noti">※ 네이버 N페이 서비스를 이용 시 <span class="secondary">스키니랩 회원혜택은 미적용</span> 됩니다.</p>
					<div class="naverpay-box">

						<!-- 네이버 페이 api 영역 // -->
						<script type="text/javascript" src="https://test-pay.naver.com/customer/js/mobile/naverPayButton.js" charset="UTF-8"></script>
						<script type="text/javascript" >
						//<![CDATA[
							naver.NaverPayButton.apply({
								TYPE: "C", // 버튼 모음 종류 설정
								COLOR: 1, // 버튼 모음의 색 설정
								COUNT: 2, // 버튼 개수 설정. 구매하기 버튼만 있으면(장바구니 페이지) 1, 관심상품 버튼도 있으면(상품 상세 페이지) 2를 입력.
								ENABLE: "Y", // 품절 등의 이유로 버튼 모음을 비활성화할 때에는 "N" 입력
								"":""
							});
						//]]>
						</script>
						<!-- // 네이버 페이 api 영역 -->

					</div>
				</div>
			</div>
		</div>

		<div class="btn-area">
			<a href="#" class="btn-cart">장바구니넣기</a>
			<a href="#" class="btn-gift">선물보내기</a>
			<a href="#" class="btn large primary motion buy">
				<span>바로구매</span>
			</a>
		</div>
	</div>
	<!-- //스와이프 영역 -->
</div>

<script>
	$(function() {
		// 제품 상세 슬라이드
		var detailWrapSwiper = new Swiper('.detail-wrap .swiper-container', {
			allowTouchMove: true,
			speed: 1000,
			loop: true,
			navigation: {
				nextEl: ".swiper-button-next",
				prevEl: ".swiper-button-prev",
			},
			pagination: {
				el: ".swiper-pagination",
				clickable: true,
			},
		});

		// 탭 컨텐츠
		$('.tab-group-wrap .tab-menu li').click(function(){
			$('html, body').animate({
				scrollTop : $('.tab-group-wrap').offset().top - $('.page-header').height()
			}, 400);
		})

		// 탭 컨텐츠 고정
		$(window).scroll(function() {
			var nowScroll = $(window).scrollTop()
			var $tabGroup = $('.tab-group-wrap')
			var $header = $('.page-header')
			var tabGroupTop = $tabGroup.offset().top
			var isFixed = tabGroupTop - $header.height()

			if( nowScroll >= isFixed ){
				$tabGroup.find('.tab-menu .wrap').addClass('is-fixed')
			}else {
				$tabGroup.find('.tab-menu .wrap').removeClass('is-fixed')
			}
		});

		// 스크롤 시점 모션
		var $window = $(window);
		var $target = $('.scroll-check');

		function scrollHandle() {
			var winHeight = $window.height();
			var scrollTop = $window.scrollTop();

			$target.each(function() {
				var $this = $(this);
				var ratio = 1 - (Number($this.data('ratio')) || 50) / 100;
				var isViewportIn = scrollTop > ($this.offset().top - winHeight) + (winHeight * ratio);

				$this.toggleClass('in', isViewportIn);
			});
		}

		$target.addClass('ready');
		$window.on('resize scroll', scrollHandle);
		scrollHandle();

		// 관련제품 슬라이드
		var recomCarouselSwiper = new Swiper('.recommend-product .swiper-container', {
			allowTouchMove: true,
			slidesPerView: 1.8,
			slidesPerGroup: 1,
			initialSlide: 0,
			spaceBetween: 20,
			breakpoints: {
				768: {
					slidesPerView: 3.5,
					slidesPerGroup: 1,
				},
				1024: {
					slidesPerView: 5,
				}
			}
		});

		// 관련기획전 캐러셀
		var recommendBannerSwiper = new Swiper('.recommend-banner .swiper-container', {
			allowTouchMove: true,
			slidesPerView: 1.1,
			slidesPerGroup: 1,
			initialSlide: 0,
			spaceBetween: 10,
			breakpoints: {
				768: {
					slidesPerView: 2.3,
					slidesPerGroup: 1,
				},
				1024: {
					slidesPerView: 3,
				}
			}
		});

		// 상품리뷰 캐러셀
		var reviewCarousel = new Swiper(".review-carousel .list .wrap", {
			allowTouchMove: true,
			slidesPerView: 1.15,
			slidesPerGroup: 1,
			initialSlide: 0,
			spaceBetween: 10,
			observer: true,
			observeParents: true,
			breakpoints: {
				768: {
					slidesPerView: 2.3,
					slidesPerGroup: 1,
				},
				1024: {
					slidesPerView: 3,
				}
			}
		});

		// 상품리뷰 아코디언
		var reviewAccordionThumb = new Swiper(".review-accordion .thumb-wrap .swiper-container", {
			allowTouchMove: true,
			slidesPerView: 3.8,
			slidesPerGroup: 1,
			initialSlide: 0,
			spaceBetween: 10,
			observer: true,
			observeParents: true,
			breakpoints: {
				768: {
					slidesPerView: 5,
					slidesPerGroup: 1,
				},
				1024: {
					slidesPerView: 8,
				}
			}
		});

		$('.tab-menu .review').click(function(){
			var $reviewAccordion = $('.review-accordion');

			// 더보기버튼 비노출
			$reviewAccordion.find('.item').map(function(index, el) {
				var $el = $(el);
				var lessHeight = $el.find('.head .desc').height();
				var moreHeight;
				
				$el.addClass('on');

				moreHeight = $el.find('.head .desc').height();

				$el.removeClass('on');

				if(lessHeight === moreHeight) $el.find('.btn-more').remove();
				if(lessHeight === moreHeight) $el.find('.head').css("padding-bottom", "15px");
			});

			// 리뷰 내용 펼치기
			$reviewAccordion.off('click').on('click', '.btn-more, .head .desc', function() {
				var $tg = $(this);
				var $tgHead = $tg.parents('.head');
				var $tgBody = $tgHead.next();
				var $tgItem = $tg.parents('.item');
				var $tgMoreBtn = $tgHead.find('.btn-more')
				var isActive = $tgBody.is(':visible');

				if(isActive) {
					$tgBody.slideUp(200);
					$tgItem.removeClass('on');
					$tgMoreBtn.removeClass('active');
					$tgMoreBtn.text('더보기');
				} else {
					$tgBody.slideDown(200);
					$tgItem.addClass('on');
					$tgMoreBtn.addClass('active');
					$tgMoreBtn.text('닫기');
				}

				if($tgMoreBtn.length == false) {
					$tgItem.removeClass('on');
					$tgBody.hide();
				}
			});
		});

		// 옵션 드롭다운
		$('.option-dropdown').off('click').on('click', '.title button', function() {
			var $tg = $(this);
			var $tgTitle = $tg.parents('.title');
			var $tgContent = $tgTitle.next('.list');
			var isActive = $tgContent.is(':visible');

			if(isActive) {
				$tgContent.slideUp(200);
				$tg.parents('.option-dropdown').removeClass('on');
			} else {
				$tgContent.slideDown(200);
				$tg.parents('.option-dropdown').addClass('on');
			}
		});
	});
</script>
{%- endblock %}