{%
	set pageInfo = {
		section: 'customer',
		title: '공지사항'
	}
%}
{% extends site + '/@inc/layout.html' %}

{% block content -%}
<header class="page-header customer">
	<div class="wrap">
		{{ include('../@inc/sub-header.html') }}
		<span class="page-title">{{pageInfo.title}}</span>
	</div>
	{{ include('../@inc/customer.html') }}
</header>
<div id="content-main" class="common-container section-customer customer-notice-detail">
	<div class="container-wrap">
		<div class="notice-detail">
			<h3 class="hide">공지사항</h3>
			<div class="board-detail-wrap hidden-title">
				<dl class="row">
					<dt class="hide">제목</dt>
					<dd>
						<p class="title">
							<span class="desc">[배송안내] 8월 14일 택배 없는 날 배송공지</span>
							<span class="date">2020-08-11</span>
						</p>
					</dd>
				</dl>
				<dl class="row">
					<dt>내용</dt>
					<dd>
						<div class="txt">
							8월 14일 택배 없는 날 배송공지
						</div>
					</dd>
				</dl>
				<div class="prevnext">
					<dl class="prev">
						<dt>
							<span>이전</span>
						</dt>
						<dd>
							<strong class="type">일반</strong>
							다음 공지사항이 없습니다.
						</dd>
					</dl>
					<dl class="next">
						<dt>
							<span>다음</span>
						</dt>
						<dd>
							<strong class="type">[배송공지]</strong>
							<a href="#">
								개인정보처리방침 변경 안내 (시행일자 : 2021-02-03)
							</a>
						</dd>
					</dl>
				</div>
			</div>
			<div class="btn-group center">
				<a href="./notice-list.html" class="btn large primary">
					<span>목록</span>
				</a>
		</div>
		</div>
	</div>
</div>
<!-- // Content -->
{%- endblock %}