{%
	set pageInfo = {
		section: 'news',
		title: 'Depth2 &lt; Depth1',
		order: '0'
	}
%}
{% extends site + '/@inc/layout.html' %}

{% block content -%}
<!-- Content // -->
<div id="content-main" class="common-container section-news newws-list">
	<button type="button" onclick="UI.showLayerPop('',{ url: './popup.html'}); return false;" class="btn large primary">외부팝업 열기</button>
	<button type="button" onclick="UI.showLayerPop('#popupTest'); return false;" class="btn large primary">내부팝업 열기</button>

	<article id="popupTest" class="common-popup" data-motion-in="400" data-motion-out="200" style="display: none;">
		<div class="common-popup-inner popup-test">
			<div class="header">
				<h1 class="title">
					페이지 내부 팝업
				</h1>
				<button type="button" class="btn-close js-pop-close"><span>닫기</span></button>
			</div>
			<div class="container">
				<div class="head">
				</div>
				<div class="body">
				</div>
				<div class="foot">
					<div class="btn-area">
						<a href="#" class="btn primary">확인</a>
					</div>
				</div>
			</div>
		</div>
	</article>
</div>
<!-- // Content -->
{%- endblock %}