{%
	set pageInfo = {
		section: 'order',
		title: '주문/결제',
		order: '0'
	}
%}
{% extends site + '/@inc/layout.html' %}

{% block content -%}
<header class="page-header">
	{{ include('../@inc/noti-bar.html') }}
	<div class="wrap">
		{{ include('../@inc/sub-header.html') }}
		<span class="page-title">{{pageInfo.title}}</span>
	</div>
	{{ include('../@inc/search.html') }}
</header>
<div id="content-main" class="common-container section-{{pageInfo.section}} {{pageInfo.section}}-form">
	<div class="accordion-list order-accordion">
		<dl class="item">
			<dt class="title">
				<a href="#">
					<span class="tit">주문자 정보</span>
					<span class="info">
						<span class="name">
							홍길동
						</span>
					</span>
				</a>
			</dt>
			<dd class="content">
				<div class="form-layout">
					<dl class="row">
						<dt class="title">
							<label for="userName">수령자명<span class="emphasis">*</span></label>
						</dt>
						<dd class="content">
							<span class="input-text-del">
								<input type="text" id="userName" name="userName" placeholder="주문자명 입력" value="홍길동" class="text block is-invalid">
							</span>
							<span class="error-msg is-invalid">주문자 명을 입력해주세요.</span>
						</dd>
					</dl>
					<dl class="row">
						<dt class="title">
							<label for="userPhone">휴대폰 번호<span class="emphasis">*</span></label>
						</dt>
						<dd class="content">
							<span class="input-text-del">
								<input type="text" id="userPhone" name="userPhone" placeholder="'-' 없이 숫자만 입력" value="010-1234-5678" class="text block is-invalid">
							</span>
							<span class="error-msg is-invalid">휴대폰 번호를 입력해주세요.</span>
							<span class="error-msg is-invalid">휴대폰번호를 정확히 입력해 주세요.</span>
						</dd>
					</dl>
					<dl class="row">
						<dt class="title">
							<label for="userEmail">이메일<span class="emphasis">*</span></label>
						</dt>
						<dd class="content">
							<span class="input-text-del">
								<input type="text" id="userEmail" name="userEmail" placeholder="이메일 주소 입력" value="sknylab@abc.com" class="text block is-invalid">
							</span>
							<span class="error-msg is-invalid">이메일 주소를 입력해주세요.</span>
							<span class="error-msg is-invalid">잘못된 형식의 이메일주소입니다.</span>
						</dd>
					</dl>
				</div>
			</dd>
		</dl>
		<dl class="item">
			<dt class="title">
				<a href="#">
					<span class="tit">배송지 정보</span>
				</a>
			</dt>
			<dd class="content">
				<!-- 등록된 배송지가 없음 때 // -->
				<div class="form-layout delivery-form">
					<dl class="row">
						<dt class="title">
							<label for="deliveryAddress">배송지명<span class="emphasis">*</span></label>
						</dt>
						<dd class="content">
							<span class="input-text-del">
								<span class="input-text-btn">
									<input type="text" class="text is-invalid" id="deliveryAddress" name="deliveryAddress" placeholder="배송지명 입력">
									<button type="button" class="btn outline thin primary" onclick="UI.showLayerPop('',{ url: '../order/popup-address-manage.html'}); return false;">
										<span>배송지 관리</span>
									</button>
								</span>
							</span>
							<span class="error-msg is-invalid">배송지명을 입력해주세요.</span>
						</dd>
					</dl>
					<dl class="row">
						<dt class="title">
							<label for="deliveryUser">수령자명<span class="emphasis">*</span></label>
						</dt>
						<dd class="content">
							<span class="input-text-del">
								<span class="input-text-check-agree">
									<input type="text" class="text is-invalid" id="deliveryUser" name="deliveryUser" placeholder="수령자명 입력">
									<label class="check"><input type="checkbox"> <span>주문자 정보와 동일</span></label>
								</span>
							</span>
							<span class="error-msg is-invalid">수령자명을 입력해주세요.</span>
						</dd>
					</dl>
					<dl class="row">
						<dt class="title">
							<label for="deliveryPhone">휴대폰 번호<span class="emphasis">*</span></label>
						</dt>
						<dd class="content">
							<span class="input-text-del">
								<input type="text" id="deliveryPhone" name="deliveryPhone" placeholder="'-' 없이 숫자만 입력" class="text block is-invalid">
							</span>
							<span class="error-msg is-invalid">휴대폰 번호를 입력해주세요.</span>
						</dd>
					</dl>
					<dl class="row">
						<dt class="title">
							<span>주소<span class="emphasis">*</span></span>
						</dt>
						<dd class="content">
							<span class="input-address-wrap">
								<span class="input-address">
									<label for="userZipcode" class="hide">우편번호 입력</label>
									<input type="text" id="userZipcode" name="userZipcode" placeholder="" class="text block is-invalid" disabled>
									<button type="button" class="btn outline thin primary">
										<span>우편번호 찾기</span>
									</button>
								</span>
								<span class="input-address">
									<span class="txt-with-del">
										<label for="userAddress2">상세주소 입력</label>
										<input type="text" name="userAddress2" id="userAddress2" placeholder="상세주소 입력" class="text block is-invalid">
									</span>
								</span>
								<span class="input-address">
									<label for="deliveryMsg">배송메시지 선택</label>
									<span class="select-wrap">
										<select id="deliveryMsg" name="deliveryMsg" class="select">
											<option value="">배송메시지 선택</option>
											<option value="">직접 받겠습니다.</option>
											<option value="">문 앞에 놓아주세요.</option>
											<option value="">경비실에 맡겨주세요.</option>
											<option value="">택배함에 넣어주세요.</option>
											<option value="">배송 전 연락해주세요.</option>
											<option value="">직접 입력</option>
										</select>
										<span class="arrow"></span>
									</span>
									<input type="text" name="deliveryMsg" id="deliveryMsg2" placeholder="배송메세지 직접 입력" class="text block">
								</span>
								<span class="error-msg is-invalid">우편번호를 검색해주세요.</span>
								<span class="error-msg is-invalid">상세주소를 입력해주세요.</span>
							</span>
						</dd>
					</dl>
				</div>
				<!-- // 등록된 배송지가 없음 때 -->

				<!-- 등록된 배송지가 있을 때 // -->
				<div class="delivery-view">
					<div class="item">
						<p class="wrap">
							<span class="con">
								<span class="place">
									집
								</span>
								<span class="name">
									홍길동
								</span>
								<span class="status secondary">
									기본배송지
								</span>
							</span>
							<span class="address">
								서울특별시 서초구 방배천로 118, 에이디앤스타일 2층 휴대폰 번호: 010-1234-5678
							</span>
						</p>
						<div class="btn-area">
							<a href="#" class="btn small outline thin primary" onclick="UI.showLayerPop('',{ url: '../order/popup-address-manage.html'}); return false;">
								<span>배송지 관리</span>
							</a>
						</div>
					</div>
					<div class="msg">
						<label for="deliveryMsg4" class="hide">배송메시지 선택</label>
						<span class="select-wrap">
							<select id="deliveryMsg4" name="deliveryMsg4" class="select">
								<option value="">배송메시지 선택</option>
								<option value="">직접 받겠습니다.</option>
								<option value="">문 앞에 놓아주세요.</option>
								<option value="">경비실에 맡겨주세요.</option>
								<option value="">택배함에 넣어주세요.</option>
								<option value="">배송 전 연락해주세요.</option>
								<option value="">직접 입력</option>
							</select>
							<span class="arrow"></span>
						</span>
						<input type="text" name="deliveryMsg" id="deliveryMsg5" placeholder="배송메세지 직접 입력" class="text block">
					</div>
				</div>
				<!-- // 등록된 배송지가 있을 때 -->
			</dd>
		</dl>
		<dl class="item">
			<dt class="title">
				<a href="#">
					<span class="tit">주문 상품</span>
					<span class="info">
						<span class="amount">
							<span class="num">
								3
							</span>
							<span class="unit">개</span>
						</span>
					</span>
				</a>
			</dt>
			<dd class="content">
				<ul class="prod-detail-list">
					<li>
						<figure class="prod-row-item">
							<span class="img">
								<a href="#"><img src="{{base}}/img/mob/@dummy/goods-thumb-img140x140.jpg" alt="제품 이미지"></a>
							</span>
							<figcaption class="content">
								<div class="tag-group">
									<span class="tag primary">신제품</span>
									<span class="tag secondary">베스트</span>
									<span class="tag white">사은품</span>
								</div>
								<div class="store-name">
									스키니랩
								</div>
								<div class="title">
									[NIGHT패키지] 래피드 솔루션 다이어트 4주분+이지슬리밍 잔티젠 다이어트 4주분 [NIGHT패키지] 래피드 솔루션 다이어트 4주분+이지슬리밍 잔티젠 다이어트 4주분
								</div>
								<dl class="option">
									<dt>옵션</dt>
									<dd>선택된 옵션명 정보 모두 노출 선택된 옵션명 정보 모두 노출 선택된 옵션명 정보 모두 노출 선택된 옵션명 정보 모두 노출</dd>
								</dl>
								<div class="utility">
									<dl class="option">
										<dt>수량</dt>
										<dd>
											<strong>
												2
											</strong>
											개
										</dd>
									</dl>
									<div class="price discount">
										321,000원
									</div>
								</div>
								<div class="utility">
									<dl class="option">
										<dt>배송주기</dt>
										<dd>
											<strong>
												2
											</strong>
											개월에 한번
										</dd>
									</dl>
									<div class="price">
										<strong>
											128,600
										</strong>
										원
									</div>
								</div>
								<div class="add">
									<div class="prod">
										<div class="img">
											<a href="#" target="_blank">
												<img src="{{base}}/img/mob/@dummy/goods-thumb-img140x140.jpg" alt="">
											</a>
											<!-- // 등록된 사진이 없을때 -->
											<!-- <img src="{{base}}/img/mob/common/noimg.jpg" alt=""> -->
											<!-- 등록된 사진이 없을때 // -->
										</div>
										<div class="content">
											<p class="title">
												[1+1] 가르시니아 선택된 상품명 모두 노출 선택된 상품명 모두 노출 14포 x 2박스 4주분 
											</p>
											<div class="utility">
												<dl class="option">
													<dt>수량</dt>
													<dd>
														<strong>
															2
														</strong>
														개
													</dd>
												</dl>
											</div>
										</div>
									</div>
									<dl class="date">
										<dt class="tit">결제 예정일</dt>
										<dd class="con">
											04월 07일(수)
										</dd>
									</dl>
									<dl class="date">
										<dt class="tit">정기배송 예정일</dt>
										<dd class="con">
											04월 14일 도착 예정
										</dd>
									</dl>
									<dl class="date">
										<dt class="tit">다음 배송 예정일</dt>
										<dd class="con">
											05월 14일 도착 예정
										</dd>
									</dl>
								</div>
							</figcaption>
						</figure>
					</li>
					<li>
						<figure class="prod-row-item">
							<span class="img">
								<a href="#"><img src="{{base}}/img/mob/@dummy/goods-thumb-img140x140.jpg" alt="제품 이미지"></a>
							</span>
							<figcaption class="content">
								<div class="tag-group">
									<span class="tag primary">신제품</span>
									<span class="tag secondary">베스트</span>
									<span class="tag white">사은품</span>
								</div>
								<div class="store-name">
									스키니랩
								</div>
								<div class="title">
									[NIGHT패키지] 래피드 솔루션 다이어트 4주분+이지슬리밍 잔티젠 다이어트 4주분 [NIGHT패키지] 래피드 솔루션 다이어트 4주분+이지슬리밍 잔티젠 다이어트 4주분
								</div>
								<dl class="option">
									<dt>옵션</dt>
									<dd>선택된 옵션명 정보 모두 노출 선택된 옵션명 정보 모두 노출 선택된 옵션명 정보 모두 노출 선택된 옵션명 정보 모두 노출</dd>
								</dl>
								<div class="utility">
									<div class="price discount">
										19,800원
									</div>
								</div>
								<div class="utility">
									<dl class="option">
										<dt>수량</dt>
										<dd>
											<strong>
												2
											</strong>
											개
										</dd>
									</dl>
									<div class="price">
										<strong>
											128,600
										</strong>
										원
									</div>
								</div>
								<div class="add">
									<dl class="date">
										<dt class="tit">결제 예정일</dt>
										<dd class="con">
											04월 07일(수)
										</dd>
									</dl>
									<dl class="date">
										<dt class="tit">정기배송 예정일</dt>
										<dd class="con">
											04월 14일 도착 예정
										</dd>
									</dl>
									<dl class="date">
										<dt class="tit">다음 배송 예정일</dt>
										<dd class="con">
											05월 14일 도착 예정
										</dd>
									</dl>
								</div>
							</figcaption>
						</figure>
					</li>
					<li>
						<figure class="prod-row-item">
							<span class="img">
								<a href="#"><img src="{{base}}/img/mob/@dummy/goods-thumb-img140x140.jpg" alt="제품 이미지"></a>
							</span>
							<figcaption class="content">
								<div class="tag-group">
									<span class="tag primary">신제품</span>
									<span class="tag secondary">베스트</span>
									<span class="tag white">사은품</span>
								</div>
								<div class="store-name">
									스키니랩
								</div>
								<div class="title">
									[NIGHT패키지] 래피드 솔루션 다이어트 4주분+이지슬리밍 잔티젠 다이어트 4주분 [NIGHT패키지] 래피드 솔루션 다이어트 4주분+이지슬리밍 잔티젠 다이어트 4주분
								</div>
								<dl class="option">
									<dt>옵션</dt>
									<dd>선택된 옵션명 정보 모두 노출 선택된 옵션명 정보 모두 노출 선택된 옵션명 정보 모두 노출 선택된 옵션명 정보 모두 노출</dd>
								</dl>
								<div class="utility">
									<div class="price discount">
										19,800원
									</div>
								</div>
								<div class="utility">
									<dl class="option">
										<dt>수량</dt>
										<dd>
											<strong>
												2
											</strong>
											개
										</dd>
									</dl>
									<div class="price">
										<strong>
											128,600
										</strong>
										원
									</div>
								</div>
								<div class="add">
									<dl class="date">
										<dt class="tit">결제 예정일</dt>
										<dd class="con">
											04월 07일(수)
										</dd>
									</dl>
									<dl class="date">
										<dt class="tit">정기배송 예정일</dt>
										<dd class="con">
											04월 14일 도착 예정
										</dd>
									</dl>
									<dl class="date">
										<dt class="tit">다음 배송 예정일</dt>
										<dd class="con">
											05월 14일 도착 예정
										</dd>
									</dl>
								</div>
							</figcaption>
						</figure>
					</li>
				</ul>
			</dd>
		</dl>
		<dl class="item">
			<dt class="title">
				<a href="#">
					<span class="tit">결제 예정 금액</span>
					<span class="info">
						<span class="price">
							<span class="num">
								81,800
							</span>
							<span class="unit">원</span>
						</span>
					</span>
				</a>
			</dt>
			<dd class="content">
				<div class="payment-info">
					<dl class="info">
						<dt class="tit">상품금액</dt>
						<dd class="con">
							<span class="num">
								89,000
							</span>
							<span class="unit">원</span>
						</dd>
					</dl>
					<dl class="info">
						<dt class="tit">정기배송 할인</dt>
						<dd class="con secondary">
							<span class="num">
								-12,920
							</span>
							<span class="unit">원</span>
						</dd>
					</dl>
					<dl class="info">
						<dt class="tit">배송비</dt>
						<dd class="con">
							무료배송
						</dd>
					</dl>
					<dl class="info total">
						<dt class="tit">결제 예정 금액</dt>
						<dd class="con">
							<span class="num">
								79,830
							</span>
							<span class="unit">원</span>
						</dd>
					</dl>
				</div>
			</dd>
		</dl>
		<dl class="item is-open">
			<dt class="title">
				<span class="tit">결제 수단</span>
				<span class="info">
					<span class="payment">
						신용카드
					</span>
				</span>
			</dt>
			<dd class="content">
				<div class="auto-payment">
					<div class="card-area">
						<!-- 카드등록 // -->
						<!-- <div class="register">
							<button type="button" class="btn-register">카드등록</button>
						</div> -->
						<!-- // 카드등록 -->
						<!-- 카드변경 // -->
						<div class="detail">
							<p class="info">
								<span class="tit">
									KB 국민카드
								</span>
								<span class="account">
									1234-56**-****-****
								</span>
							</p>
						</div>
						<!-- // 카드변경 -->
					</div>
					<!-- 카드변경 // -->
					<div class="btn-area">
						<button type="button" class="btn outline thin primary">
							<span>카드 변경</span>
						</button>
					</div>
					<!-- // 카드변경 -->
					<ul class="add-list">
						<li>※ 정기배송은 신용카드 및 체크카드만 결제 가능하며, <br>본인 확인을 위해 공인인증 과정을 거칩니다.</li>
					</ul>
				</div>
			</dd>
		</dl>
		<dl class="item">
			<dt class="title">
				<a href="#">
					<span class="tit">정기배송 안내</span>
				</a>
			</dt>
			<dd class="content">
				<div class="delivery-guide">
					<ul class="list">
						<li>정기 결제는 배송일 3일전 오전 8시 등록하신 카드로 결제됩니다.</li>
						<li>체크카드를 설정하신 경우 잔액 부족 시 15시까지 결제되지 않을 경우 자동 주문취소됩니다.</li>
						<li>결제 카드는 1개만 등록 가능하며, 다른 카드로 변경 시 기존 카드는 해지됩니다.</li>
						<li>결제 이후 변경된 카드 정보는 다음 회차에 반영 됩니다. 회차별 배송일이 주말/공휴일/명절의 경우, 휴일 이후 순차적으로 배송됩니다.</li>
						<li>마이페이지 &gt; 나의 정보 관리 &gt; 결제수단 관리에서 신청 내역 및 자동 결제수단을 변경할 수 있습니다.</li>
					</ul>
				</div>
			</dd>
		</dl>
	</div>
	<div class="agreement-area">
		<dl class="item">
			<dt class="title">
				약관동의<span class="emphasis">*</span>
			</dt>
			<dd class="content">
				<label class="check"><input type="checkbox"> <span>주문할 상품정보에 동의하십니까?<br>(전자상거래법 제 8조 2항)</span></label>
			</dd>
			<dd class="content">
				<label class="check"><input type="checkbox"> <span>정기배송 서비스 이용 및 자동승인 동의</span></label>
				<button type="button" class="btn small outline2"  onclick="UI.showLayerPop('',{ url: '../order/popup-regular-service.html'}); return false;">내용보기</button>
			</dd>
		</dl>
	</div>
	<div class="sticky-bottom">
		<div class="btn-area">
			<a href="#" class="btn large secondary">
				<span>정기배송 신청</span>
			</a>
		</div>
	</div>
</div>
{%- endblock %}