{% extends site + '/@inc/layout-empty.html' %}

{% block content -%}
<!-- 옵션클래스: full, full-scroll, hidden-title -->
<article id="popup-order-fail" class="common-popup">
	<div class="common-popup-inner popup-order-fail">
		<div class="header">
			<h1 class="title">주문 완료</h1>
			<button type="button" class="btn-close js-pop-close"><span>닫기</span></button>
		</div>
		<div class="container">
			<div class="body">
				<div class="result-txt is-error">
					<p class="com-txt">주문/결제가 실패되었습니다.</p>
					<p class="com-txt4">
						<span class="str">실패사유</span>
						<span>사유 모두 노출 사유 모두 노출 사유 모두 노출</span>
					</p>
				</div>
			</div>
			<div class="foot">
				<div class="btn-group row">
					<a href="#" class="btn large outline primary js-pop-close">
						<span>장바구니 가기</span>
					</a>
					<a href="#" class="btn large primary">
						<span>홈으로</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</article>
{%- endblock %}