{%
	set pageInfo = {
		section: 'promotion',
		title: '기획전',
		order: [0,0]
	}
%}
{% extends site + '/@inc/layout.html' %}

{% block content -%}
<header class="page-header">
	{{ include('../@inc/noti-bar.html') }}
	<div class="wrap">
		{{ include('../@inc/sub-header.html') }}
		<span class="page-title">{{pageInfo.title}}</span>
	</div>
	{{ include('../@inc/search.html') }}
	{{ include('../@inc/gnb.html') }}
</header>
<div id="content-main" class="common-container section-{{pageInfo.section}} {{pageInfo.section}}-list">
	<div class="container-wrap">
		<ul class="promotion-list-wrap">
			{% for i in range(1, 5) %}
			<li>
				<div class="item">
					<a href="#">
						<figure>
							<div class="img">
								<img src="{{base}}/img/pc/@dummy/exhibition-thumb-img0{{i}}.jpg" alt="신제품 출시 기념 기획전">
							</div>
							<figcaption class="content">
								<p class="title">
									[특별구성] 자기관리의 시작, 시서스 시작 신제품 출시 기념 기획전
								</p>
								<p class="date">
									<span class="start">2021-05-01</span>~<span class="finish">2021-06-30</span>
								</p>
								<button class="btn-share"></button>
							</figcaption>
						</figure>
					</a>	
						
					<ul class="mapping-list">
						{% for i in range(1, 4) %}
						<li>
							<a href="#">
								<img src="{{base}}/img/pc/@dummy/goods-thumb-img120x120.jpg" alt="기획전 관련 상품 이미지">
							</a>
						</li>
						{% endfor %}
						<li class="more"> <!-- 더보기 .more -->
							<a href="#">
								<img src="{{base}}/img/pc/@dummy/goods-thumb-img120x120.jpg" alt="기획전 관련 상품 이미지">
							</a>
						</li>
					</ul>
				</div>
			</li>
			{% endfor %}
			<li class="empty">
				<div class="result-txt is-error">
					<p class="com-txt">진행중인 기획전이 없습니다.</p>
				</div>
			</li>
		</ul>
		
		<div class="btn-group center page-bot-group">
			<button type="button" class="btn-list-more">
				더보기
				<span class="icon-plus"></span>
			</button>
		</div>
	</div>
	{{ include('../promotion/@inc/popup-share.html') }}
</div>
<script>
	$(function() {
		$('.btn-share').on('click',function() {
			var scrollTop = $(window).scrollTop();
			$('.share-wrap').addClass('is-open');
			$('html')
				.data('scrollTop', scrollTop)
				.css({ 'margin-top': -scrollTop, 'height': document.body.scrollHeight })
				.addClass('scroll-fixed');
		});
		$('.btn-close').on('click',function() {
			$('.share-wrap').removeClass('is-open');
			$('html').removeClass('scroll-fixed').css({
				'margin-top': '',
				'height': ''
			});
		});
	});
</script>
{%- endblock %}