{%
	set pageInfo = {
		section: 'mypage',
		title: '마이페이지',
		order: [0,0]
	}
%}
{% extends site + '/@inc/layout.html' %}

{% block content -%}
<!-- Content // -->
<div id="content-main" class="common-container section-{{pageInfo.section}} {{pageInfo.section}}-index">
	<div class="container-wrap">
		<div class="page-head">
			<h3 class="title">{{pageInfo.title}}</h3>
		</div>
		{{ include('../mypage/@inc/top-info.html') }}

		<div class="page-content">
			{{ include('../mypage/@inc/left-menu.html') }}
			<div class="content-main-wrap">
				<div class="page-sub-head">
					<h4 class="title">쇼핑 다이어리</h4>
				</div>
				<div class="content-inner-wrap">
					<div class="main-cont-wrap shopping-diary">
						<div class="action">
							<button type="button" class="control-btn btn-prev swiper-button-prev"></button>
							<button type="button" class="control-btn btn-next swiper-button-next"></button>
						</div>
						<div class="swiper-container">
							<ul class="diary-wrap swiper-wrapper">
								<li class="swiper-slide item">
									<p class="date">1.17(토)</p>
									<div class="title">
										띵동~ 기다리던<br>
										상품이 배송완료<br>
										되었습니다.
									</div>
									<div class="desc">
										스키니랩 이지 스낵팝20g x 1봉
									</div>
									<div class="btn-group center">
										<button type="button" class="btn outline thin primary">구매확정</button>
									</div>
								</li>
								<li class="swiper-slide item new"> <!-- 새로운 알림 .new -->
									<p class="date">1.17(토)</p>
									<div class="title">
										홍길동님!<br>
										생일 축하합니다.
									</div>
									<div class="desc">
										<strong>3,000원 생일축하쿠폰</strong>이<br>
										발급되었습니다.
									</div>
									<div class="btn-group center">
										<a href="./coupon.html" class="btn outline thin primary">나의 보유쿠폰 확인</a>
									</div>
								</li>
								<li class="swiper-slide item new"> <!-- 새로운 알림 .new -->
									<p class="date">4.19(월)</p>
									<div class="title">
										정기배송 결제일이<br>
										D-7 남았습니다.
									</div>
									<div class="desc">
										배송지와 결제수단을<br>
										확인해 주세요.
									</div>
									<div class="btn-group center">
										<button type="button" onclick="UI.showLayerPop('',{ url: './popup-address-manage.html'}); return false;" class="btn outline thin primary">배송지 변경</button>
										<button type="button" class="btn outline thin primary">결제수단 변경</button>
									</div>
								</li>
								<li class="swiper-slide item">
									<p class="date">4.26(월)</p>
									<div class="title">
										입금대기 주문 건이 있어요!
									</div>
									<div class="desc">
										<strong>
										㈜헬스밸런스<br>
										우리은행 1002-000-00000
										</strong>
									</div>
									<div class="btn-group center">
										<a href="./order-list.html" class="btn outline thin primary">주문내역 조회</a>
									</div>
								</li>
								<li class="swiper-slide item">
									<p class="date">4.26(월)</p>
									<div class="title">
										두근두근!<br>
										배송이 시작되었어요
									</div>
									<div class="desc">
										<strong>
										스키니랩 이지 스낵팝20g x 1봉
										스키니랩 이지 스낵팝20g x 1봉
										스키니랩 이지 스낵팝20g x 1봉
										스키니랩 이지 스낵팝20g x 1봉
										</strong>
									</div>
									<div class="btn-group center">
										<a href="#" class="btn outline thin primary">배송조회</a>
									</div>
								</li>
							</ul>
						</div>
						<!-- 목록이 없을 때 // -->
						<div class="empty" style="display: none;">
							<p class="desc">쇼핑 다이어리 내역이 없습니다.</p>
						</div>
						<!-- // 목록이 없을 때 -->
					</div>

					<div class="event-banner">
						<a href="#">
							<img src="{{base}}/img/pc/@dummy/mypage-index-banner940x200.jpg" alt="회원 한정 시크릿 특가 - 지금 가입하고 이유있는 초특가 상품 가져가세요~!">
						</a>
					</div>

					<div class="page-sub-head">
						<h4 class="title">최근 주문 내역</h4>
					</div>

					<div class="order-list-wrap first"> <!-- 페이지 첫번째 목록일 때 .first -->
						<div class="top-util-cont">
							<div>
								<span class="date">2021.04.17</span>
							</div>
							<a href="./order-detail.html" class="small-btn-util">주문상세</a>
						</div>
						<ul class="list-cont">
							<li>
								<div class="item">
									<span class="img">
										<a href="./order-detail.html"><img src="{{base}}/img/pc/@dummy/goods-thumb-img140x140.jpg" alt="상품 이미지"></a>
									</span>
									<div class="info">
										<p class="name">
											<a href="./order-detail.html">가벼워지는 시서스다이어트 14포 X 4박스 + 석류 콜라겐 14포 x 2박스 상품명 최대 3줄 노출 이후 대 3줄 노출 3줄 노출 이후 대 3줄 노출</a>
										</p>
										<dl class="option">
											<dt>옵션</dt>
											<dd>선택된 옵션명 정보 모두 노출 선택된 옵션명 정보 모두 노출</dd>
										</dl>
									</div>	
									<div class="count">
										<strong>10</strong>개
									</div>
									<div class="price">
										<strong>1,286,000</strong>원
									</div>
									<div class="status-box">
										<span class="txt">배송완료</span>
										<div class="btn-group center">
											<button type="button" class="btn outline2 thin small primary">배송조회</button>
											<button type="button" class="btn outline2 thin small primary">구매확정</button>
											<button type="button" class="btn outline2 thin small primary" onclick="UI.showLayerPop('',{ url: './popup-exchange-request.html'}); return false;">교환신청</button>
											<button type="button" class="btn outline2 thin small primary" onclick="UI.showLayerPop('',{ url: './popup-return-request.html'}); return false;">반품신청</button>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="item">
									<span class="img">
										<a href="./order-detail.html"><img src="{{base}}/img/pc/@dummy/goods-thumb-img140x140.jpg" alt="상품 이미지"></a>
									</span>
									<div class="info">
										<p class="name">
											<a href="./order-detail.html">가벼워지는 시서스다이어트 14포 X 4박스 + 석류 콜라겐 14포 x 2박스</a>
										</p>
										<dl class="option">
											<dt>옵션</dt>
											<dd>선택된 옵션명 정보 모두 노출</dd>
										</dl>
									</div>	
									<div class="count">
										<strong>1</strong>개
									</div>
									<div class="price">
										<strong>128,600</strong>원
									</div>
									<div class="status-box">
										<span class="txt">배송지</span>
										<div class="btn-group center">
											<button type="button" class="btn outline2 thin small primary">SMS 알림발송</button>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>

					<div class="order-list-wrap">
						<div class="top-util-cont">
							<div>
								<span class="date">2021.04.17</span>
							</div>
							<a href="./order-detail.html" class="small-btn-util">주문상세</a>
						</div>
						<ul class="list-cont">
							<li>
								<div class="item">
									<span class="img">
										<a href="./order-detail.html"><img src="{{base}}/img/pc/@dummy/goods-thumb-img140x140.jpg" alt="상품 이미지"></a>
									</span>
									<div class="info">
										<p class="name">
											<a href="./order-detail.html">가벼워지는 시서스다이어트 14포 X 4박스 + 석류 콜라겐 14포 x 2박스 상품명 최대 3줄 노출 이후 대 3줄 노출 3줄 노출 이후 대 3줄 노출</a>
										</p>
										<dl class="option">
											<dt>옵션</dt>
											<dd>선택된 옵션명 정보 모두 노출 선택된 옵션명 정보 모두 노출</dd>
										</dl>
									</div>	
									<div class="count">
										<strong>10</strong>개
									</div>
									<div class="price">
										<strong>1,286,000</strong>원
									</div>
									<div class="status-box">
										<span class="txt">입금대기</span>
										<div class="btn-group center">
											<button type="button" class="btn outline2 thin primary" onclick="UI.showLayerPop('',{ url: './popup-order-cancel.html'}); return false;">주문취소</button>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="item">
									<span class="img">
										<a href="./order-detail.html"><img src="{{base}}/img/pc/@dummy/goods-thumb-img140x140.jpg" alt="상품 이미지"></a>
									</span>
									<div class="info">
										<p class="name">
											<a href="./order-detail.html">가벼워지는 시서스다이어트 14포 X 4박스 + 석류 콜라겐 14포 x 2박스</a>
										</p>
										<dl class="option">
											<dt>옵션</dt>
											<dd>선택된 옵션명 정보 모두 노출</dd>
										</dl>
									</div>	
									<div class="count">
										<strong>1</strong>개
									</div>
									<div class="price">
										<strong>128,600</strong>원
									</div>
									<div class="status-box">
										<span class="txt">배송지</span>
										<div class="btn-group center">
											<button type="button" class="btn outline2 thin small primary">SMS 알림발송</button>
										</div>
									</div>
								</div>
							</li>
							<!-- 데이터 없을 때 // -->
							<!-- <li class="empty">
								<p class="desc">최근 14일 동안의 내역이 없습니다.</p>
							</li> -->
							<!-- // 데이터 없을 때 -->
						</ul>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
<!-- // Content -->
{%- endblock %}