{%
	set pageInfo = {
		section: 'mypage',
		title: '마이페이지',
		order: [1,2]
	}
%}
{% extends site + '/@inc/layout.html' %}

{% block content -%}
<!-- Content // -->
<div id="content-main" class="common-container section-{{pageInfo.section}} {{pageInfo.section}}-order-detail">
	<div class="container-wrap">
		<div class="page-head">
			<h3 class="title">{{pageInfo.title}}</h3>
		</div>
		{{ include('../mypage/@inc/top-info.html') }}

		<div class="page-content">
			{{ include('../mypage/@inc/left-menu.html') }}
			<div class="content-main-wrap">
				<div class="page-sub-head">
					<h4 class="title">주문상세</h4>
				</div>
				<div class="content-inner-wrap">
					
					<div class="order-list-wrap first"> <!-- 페이지 첫번째 목록일 때 .first -->
						<div class="top-util-cont">
							<div>
								<span class="date">2021.04.17</span>
								<span class="order-num">주문번호  2103121032000027</span>
							</div>
							<button type="button" class="btn outline2 thin primary">영수증 확인</button>
						</div>
						<ul class="list-cont">
							<li>
								<p class="store-name">(주)헬스밸런스</p> <!-- 입점사 있을 때 노출-->
								<div class="item">
									<span class="img">
										<a href="../product/product-detail.html"><img src="{{base}}/img/pc/@dummy/goods-thumb-img140x140.jpg" alt="상품 이미지"></a>
									</span>
									<div class="info">
										<p class="name">
											<a href="../product/product-detail.html">가벼워지는 시서스다이어트 14포 X 4박스 + 석류 콜라겐 14포 x 2박스 상품명 최대 3줄 노출 이후 대 3줄 노출 3줄 노출 이후 대 3줄 노출</a>
										</p>
										<dl class="option">
											<dt>옵션</dt>
											<dd>선택된 옵션명 정보 모두 노출 선택된 옵션명 정보 모두 노출</dd>
										</dl>
									</div>	
									<div class="count">
										<strong>10</strong>개
									</div>
									<div class="price">
										<strong>1,286,000</strong>원
									</div>
									<div class="status-box">
										<span class="txt">결제완료</span>
										<div class="btn-group center">
											<button type="button" class="btn outline2 thin primary" onclick="UI.showLayerPop('',{ url: './popup-order-cancel.html'}); return false;">주문취소</button>
										</div>
									</div>
								</div>
								<div class="gift-box"> <!-- 증정품 있을 때만 노출 -->
									<span class="gift-img"><img src="{{base}}/img/pc/@dummy/goods-thumb-img140x140.jpg" alt="증정품 이미지"></span>
									<div class="gift-name">
										[NIGHT패키지] 래피드 솔루션 다이어트 4주분+ 이지슬리밍 잔티젠 다이어트 4주분 + 상품명 최대 3줄 노출 이후 대 3줄 노출 상품명 최대 3줄 노출 이후 대 3줄 노출
									</div>
									<span class="gift-count"><strong>1</strong>개</span>
								</div>
							</li>
							<li>
								<div class="item">
									<span class="img">
										<a href="../product/product-detail.html"><img src="{{base}}/img/pc/@dummy/goods-thumb-img140x140.jpg" alt="상품 이미지"></a>
									</span>
									<div class="info">
										<p class="name">
											<a href="../product/product-detail.html">가벼워지는 시서스다이어트 14포 X 4박스 + 석류 콜라겐 14포 x 2박스</a>
										</p>
										<dl class="option">
											<dt>옵션</dt>
											<dd>선택된 옵션명 정보 모두 노출 선택된 옵션명 정보 모두 노출</dd>
										</dl>
									</div>	
									<div class="count">
										<strong>10</strong>개
									</div>
									<div class="price">
										<strong>128,600</strong>원
									</div>
									<div class="status-box">
										<span class="txt">결제완료</span>
										<div class="btn-group center">
											<button type="button" class="btn outline2 thin primary" onclick="UI.showLayerPop('',{ url: './popup-order-cancel.html'}); return false;">주문취소</button>
										</div>
									</div>
								</div>
								<div class="gift-box"> <!-- 증정품 있을 때만 노출 -->
									<span class="gift-img"><img src="{{base}}/img/pc/@dummy/goods-thumb-img140x140.jpg" alt="증정품 이미지"></span>
									<div class="gift-name">
										[NIGHT패키지] 래피드 솔루션 다이어트 4주분+ 이지슬리밍 잔티젠 다이어트 4주분
									</div>
									<span class="gift-count"><strong>1</strong>개</span>
								</div>
							</li>
						</ul>
					</div>

					<div class="page-cont-head">
						<h5 class="title">교환 사유</h5>
					</div>
					<div class="info-cont-wrap">
						<dl class="cont-box">
							<dt>교환사유</dt>
							<dd>사유 직접 입력</dd>
							<dt>내용</dt>
							<dd>
								교환신청 popup에서 입력한 사용자가 입력한 내용 텍스트 노출 교환신청 popup에서 입력한 사용자가 입력한 내용 텍스트 노출
교환신청 popup에서 입력한 사용자가 입력한 내용 텍스트 노출 교환신청 popup에서 입력한 사용자가 입력한 내용 텍스트 노출
교환신청 popup에서 입력한 사용자가 입력한 내용 텍스트 노출 교환신청 popup에서 입력한 사용자가 입력한 내용 텍스트 노출

							</dd>
						</dl>
					</div>

					<div class="page-cont-head">
						<h5 class="title">교환 상품 반송 정보</h5>
					</div>
					<div class="info-cont-wrap">
						<dl class="cont-box">
							<dt>택배사명</dt>
							<dd>CJ대한통운</dd>
							<dt>송장번호</dt>
							<dd>123456789</dd>
						</dl>
					</div>

					<div class="page-cont-head">
						<h5 class="title">배송 정보</h5>
						<button type="button" onclick="UI.showLayerPop('',{ url: './popup-address-manage.html'}); return false;" class="small-btn-util">배송지 변경</button>
					</div>
					<div class="info-cont-wrap">
						<dl class="cont-box">
							<dt>수령자명</dt>
							<dd>홍길동</dd>
							<dt>휴대폰번호</dt>
							<dd>010-1234-1234</dd>
							<dt>배송지</dt>
							<dd>서울 강남구 영동대로 511(트레이드타워) 2104호</dd>
							<dt>배송메시지</dt>
							<dd>부재 시, 연락 바랍니다.</dd>
						</dl>
					</div>

					<div class="page-cont-head">
						<h5 class="title">추가 결제 정보</h5>
					</div>
					<div class="info-cont-wrap payment">
						<div class="payment-box exchange">
							<div class="item">
								<dl class="price">
									<dt>교환 배송비</dt>
									<dd><strong>5,000</strong>원</dd>
								</dl>
							</div>
							<div class="item">
								<dl class="price">
									<dt>총 결제금액</dt>
									<dd><strong class="total">5,000</strong>원</dd>
								</dl>
								<ul class="info">
									<li>
										<strong>신용카드(하나)</strong><br>
										2021-04-09 16:40:41
									</li>	
								</ul>
							</div>
						</div>
					</div>

					<div class="btn-group center page-bot-group">
						<a href="./order-list-claim.html" class="btn large primary">
							<span>목록보기</span>
						</a>
					</div>
						
				</div>
			</div>
		</div>
	</div>
</div>
<!-- // Content -->
{%- endblock %}