{%
	set pageInfo = {
		section: 'mypage',
		title: '마이페이지',
		order: [3,4]
	}
%}
{% extends site + '/@inc/layout.html' %}

{% block content -%}
<!-- Content // -->
<div id="content-main" class="common-container section-{{pageInfo.section}} {{pageInfo.section}}-qna-list common-qna">
	<div class="container-wrap">
		<div class="page-head">
			<h3 class="title">{{pageInfo.title}}</h3>
		</div>
		{{ include('../mypage/@inc/top-info.html') }}

		<div class="page-content">
			{{ include('../mypage/@inc/left-menu.html') }}
			<div class="content-main-wrap">
				<div class="page-sub-head">
					<h4 class="title">1:1문의내역</h4>
				</div>
				<div class="content-inner-wrap">
					<div class="top-banner">
						<dl class="content">
							<dt class="title">고객센터 이용안내</dt>
							<dd class="desc">평일 09:30 ~ 18:00 주말/공휴일 휴무</dd>
						</dl>
						<div class="content">
							<span class="tel">1644-7267</span>
							<a href="#" class="btn outline thin primary">1:1문의하기</a>
						</div>
					</div>
					<ul class="list-wrap">
						<li>
							<div class="content">
								<span class="icon-status ing"></span> <!-- 답변대기: .ing, 답변완료: .end -->
								<p class="tit"><a href="./qna-detail.html">문의제목 노출 문의제목 노출 문의제목 노출 문의제목 노출 문의제목 노출 문의제목 노출 문의제목</a></p>
							</div>
							<span class="date">2021.05.03</span>
						</li>
						{% for i in range(0, 4) %}
						<li>
							<div class="content">
								<span class="icon-status end"></span> <!-- 답변대기: .ing, 답변완료: .end -->
								<p class="tit"><a href="./qna-detail.html">문의제목 노출 문의제목 노출 문의제목 노출 문의제목 노출 문의제목 노출 문의제목 노출 문의제목</a></p>
							</div>
							<span class="date">2021.05.03</span>
						</li>
						{% endfor %}
						<li class="empty"> <!-- 데이터 없을 때 -->
							<p class="desc">1:1문의내역이 없습니다.</p>
						</li>
					</ul>

					<div class="common-pagination">
						<a href="#" class="paging-btn prev">Prev</a>
						<span class="paging-num">
							<a href="#" class="on">1</a>
							<a href="#">2</a>
							<a href="#">3</a>
							<a href="#">4</a>
							<a href="#">5</a>
						</span>
						<a href="#" class="paging-btn next">Next</a>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>
<!-- // Content -->
{%- endblock %}