{%
	set pageInfo = {
		section: 'mypage',
		title: '마이페이지',
		order: [5,3]
	}
%}
{% extends site + '/@inc/layout.html' %}

{% block content -%}
<!-- Content // -->
<div id="content-main" class="common-container section-{{pageInfo.section}} {{pageInfo.section}}-payment-manage">
	<div class="container-wrap">
		<div class="page-head">
			<h3 class="title">{{pageInfo.title}}</h3>
		</div>
		{{ include('../mypage/@inc/top-info.html') }}

		<div class="page-content">
			{{ include('../mypage/@inc/left-menu.html') }}
			<div class="content-main-wrap">
				<div class="page-sub-head">
					<h4 class="title">환불계좌 관리</h4>
				</div>
				<div class="content-inner-wrap">
					<div class="payment-wrap">
						<dl class="row">
							<dt class="title">예금주</dt>
							<dd class="user-name">
								홍길동
							</dd>
						</dl>
						<dl class="row">
							<dt class="title">계좌 정보</dt>
							<dd class="content">
								<div class="item-box modify bank">
									우리은행
									<p class="num">1234-56**-****-****</p>
								</div>
								<div class="btn-group">
									<button type="button" class="btn outline thin primary" onclick="UI.showLayerPop('',{ url: './popup-refund-register.html'}); return false;"><span>변경</span></button>
									<button type="button" class="btn outline thin primary"><span>삭제</span></button>
								</div>
							</dd>
						</dl>
					</div>
					<div class="notice-wrap">
						<p class="tit">환불계좌 이용안내</p>
						<ul class="dot-list">
							<li>환불 계좌는 본인 명의 계좌만 등록 가능합니다.</li>
							<li>등록하신 계좌정보는 금융정보보호정책에 따라 1년 동안 환불 기록이 없는 경우 삭제 됩니다.</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- // Content -->
{%- endblock %}