{% extends site + '/@inc/layout-empty.html' %}

{% block content -%}
<!-- 상품리뷰 이미지 보기 // -->
<!-- 옵션클래스: full, full-scroll, hidden-title -->
<article id="popupDeliveryGuide" class="common-popup hidden-title">
	<div class="common-popup-inner popup-delivery-guide">
		<div class="header">
			<h1 class="title hide">
				정기배송가이드
			</h1>
			<button type="button" class="btn-close js-pop-close"><span>닫기</span></button>
		</div>
		<div class="container">
			<div class="delivery-guide">
				<ol class="list">
					<li>
						<p class="item">
							<span class="num">1.</span>
							<span class="icon request"></span>
							<span class="desc">
								상품 상세페이지에서<br>
								<span class="str">정기배송 신청하기 선택</span>
							</span>
						</p>
					</li>
					<li>
						<p class="item">
							<span class="num">2.</span>
							<span class="icon select"></span>
							<span class="desc">
								정기결제 장바구니에서<br>
								<span class="str">배송주기 선택</span>
							</span>
						</p>
					</li>
					<li>
						<p class="item">
							<span class="num">3.</span>
							<span class="icon delivery"></span>
							<span class="desc">
								정기결제 카드로 결제 후<br>
								<span class="str">정기적으로 배송 받기</span>
							</span>
						</p>
					</li>
				</ol>
			</div>
		</div>
	</div>
</article>
<!-- // 상품리뷰 이미지 보기 -->
{%- endblock %}