{%
	set pageInfo = {
		section: 'mypage',
		title: '페이지 타이틀',
		order: '0'
	}
%}
{% extends site + '/@inc/layout.html' %}

{% block content -%}
<header class="page-header">
	{{ include('../@inc/noti-bar.html') }}
	<div class="wrap">
		{{ include('../@inc/sub-header.html') }}
		<span class="page-title">{{pageInfo.title}}</span>
	</div>
	{{ include('../@inc/search.html') }}
</header>
<div id="content-main" class="common-container section-{{pageInfo.section}} {{pageInfo.section}}-list">
	
	<div class="container-wrap">
		페이지 컨텐츠
		
	</div>
</div>
{%- endblock %}