{%
	set pageInfo = {
		section: 'common',
		title: '광고 제휴 문의',
		order: '0'
	}
%}
{% extends site + '/@inc/layout.html' %}

{% block content -%}
<!-- Content // -->
<div id="content-main" class="common-container section-common common-advertising-write">
	<div class="page-head">
		<h2 class="title">광고 제휴 문의</h2>
	</div>
	<div class="content">
		<div class="board-write">
			<dl class="row">
				<dt>작성자 <span class="mark">*</span></dt>
				<dd>
					<input type="text" id="advertisingName" name="advertisingName" value="" placeholder="홍길동" class="text block small" minlength="2" maxlength="20" disabled>
				</dd>
			</dl>
			<dl class="row">
				<dt>문의 비밀번호 <span class="mark">*</span></dt>
				<dd>
					<input type="password" id="advertisingPw" name="advertisingPw" value="" placeholder="비밀번호 입력" class="text block small" minlength="8">
				</dd>
			</dl>
			<dl class="row">
				<dt>제목 <span class="mark">*</span></dt>
				<dd>
					<input type="text" id="advertisingTitle" name="advertisingTitle" value="" placeholder="제목 입력" class="text block" maxlength="40">
				</dd>
			</dl>
			<dl class="row">
				<dt>내용<span class="mark">*</span></dt>
				<dd class="content-wrap">
					<!-- 에디터 영역 // -->
					<div class="editor">
						<textarea id="qnaEditor" name="qnaEditor" cols="30" rows="10" placeholder="후기 내용 입력" class="editor-cont txt" maxlength="1000"></textarea>
						<p class="character">( <span class="num">0</span> / 1,000자 )</p>
					</div>					
					<!-- // 에디터 영역 -->
					<div class="image-upload">
						<p class="hide">이미지업로드</p>
						<ul class="list">
							<li>
								<div class="file">
									<div class="input">
										<input type="file" id="imageFile1" name="imageFile1" class="input-file">
										<label for="imageFile1" class="btn-upload">파일 선택</label>
									</div>
									<div class="result">
										<div class="content">
											<img src="../../../img/pc/@dummy/goods-img01.png" alt="">
										</div>
										<button class="btn-del">파일 삭제</button>
									</div>
								</div>
							</li>
							<li>
								<div class="file">
									<div class="input">
										<input type="file" id="imageFile2" name="imageFile2" class="input-file">
										<label for="imageFile2" class="btn-upload">파일 선택</label>
									</div>
									<div class="result" style="display: none;">
										<div class="content">
											<img src="../../../img/pc/@dummy/goods-img01.png" alt="">
										</div>
										<button class="btn-del">파일 삭제</button>
									</div>
								</div>
							</li>
							<li>
								<div class="file">
									<div class="input">
										<input type="file" id="imageFile3" name="imageFile3" class="input-file">
										<label for="imageFile3" class="btn-upload">파일 선택</label>
									</div>
									<div class="result" style="display: none;">
										<div class="content">
											<img src="../../../img/pc/@dummy/goods-img01.png" alt="">
										</div>
										<button class="btn-del">파일 삭제</button>
									</div>
								</div>
							</li>
							<li>
								<div class="file">
									<div class="input">
										<input type="file" id="imageFile4" name="imageFile4" class="input-file">
										<label for="imageFile4" class="btn-upload">파일 선택</label>
									</div>
									<div class="result" style="display: none;">
										<div class="content">
											<img src="../../../img/pc/@dummy/goods-img01.png" alt="">
										</div>
										<button class="btn-del">파일 삭제</button>
									</div>
								</div>
							</li>
							<li>
								<div class="file">
									<div class="input">
										<input type="file" id="imageFile5" name="imageFile5" class="input-file">
										<label for="imageFile5" class="btn-upload">파일 선택</label>
									</div>
									<div class="result" style="display: none;">
										<div class="content">
											<img src="../../../img/pc/@dummy/goods-img01.png" alt="">
										</div>
										<button class="btn-del">파일 삭제</button>
									</div>
								</div>
							</li>
						</ul>
						<ul class="add-explain">
							<li>최대 5개 / 100MB 이하의 파일만 등록 가능합니다.</li>
						</ul>
					</div>
				</dd>
			</dl>
			<dl class="row">
				<dt>알림선택</dt>
				<dd class="input-radio-wrap">
					<span class="input-radio-text">
						<input type="radio" id="noti1" name="noti" class="radio" checked>
						<label for="noti1">휴대폰 번호</label>
						<input type="text" id="userPhone" name="userPhone" value="" placeholder="010-1234-5678" class="text" maxlength="11" disabled>
					</span>
					<span class="input-radio-text">
						<input type="radio" id="noti2" name="noti" class="radio">
						<label for="noti2">이메일</label>
						<input type="text" id="userEmail" name="userEmail" value="" placeholder="sknylab@abc.com" class="text" maxlength="100" disabled>
					</span>
				</dd>
			</dl>
		</div>
		
		<div class="btn-wrap">
			<a href="#" class="btn large outline primary">
				<span>취소</span>
			</a>
			<a href="#" class="btn large primary">
				<span>등록</span>
			</a>
		</div>
	</div>
</div>
<!-- // Content -->
{%- endblock %}