{%
	set pageInfo = {
		section: 'intro',
		title: '회사소개',
		order: 0
	}
%}
{% extends site + '/@inc/layout.html' %}

{% block content -%}
<!-- Content // -->
<div id="content-main" class="common-container section-intro">
	<div class="intro-company">
		<div class="visual">
			<h2 class="title">회사소개</h2>
			<div class="logo"></div>
			<p class="desc">건강하게 균형 잡힌 삶을 위한 <br>새로운 가치를 창조해 갑니다.</p>
			<div class="bg"></div>
			<div class="explain">
				<p><span class="str">헬스밸런스㈜는, 전 세계 고객들의 건강한 삶의 균형을 <br>지원하기 위해 노력하는 밸런싱 파트너</span> 입니다.</p>
				<p>현대인의 불균형한 라이프스타일에 주목하며 건강과 <br>아름다움에 있어 균형을 찾을 수 있는 다양한 방법과 제품을 <br>제공하고 있습니다. 우리는 인류의 균형 잡힌 삶의 실현에 <br>관심을 기울이며 세계 곳곳에 숨어있는 놀라운 균형의 비밀을 <br>찾아냅니다. 이를 통해, 고객의 행복한 삶을 지원하며, 새로운 <br>삶의 방식과 방법을 개발하기 위해 세계 각국에서 끊임없이 <br>노력하고 있습니다.</p>
				<p>헬스밸런스㈜는 인류의 행복한 삶의 균형을 지원하는 <br><span class="str">세계 최고의 Life Balancing Hub</span>로 자리할 때까지 <br>계속 나아갈 것입니다.</p>
			</div>
		</div>
		<div class="intro">
			<p class="title">LIFE BALANCING HUB, <br>헬스밸런스 브랜드를 소개합니다.</p>
			<dl class="item skinnylab">
				<dt class="head">
					<h3 class="title">skinny lab</h3>
					<div class="logo skinnylab"></div>
				</dt>
				<dd class="body">
					<div class="img">
						<img src="{{base}}/img/pc/intro/company-skinnylab-img01.jpg" alt="스키니랩 모델">
					</div>
					<div class="content">
						<p class="title">건강한 아름다움을 추구하는 <br>자기관리 솔루션</p>
						<div class="desc">
							<p class="main">다이어트의 새로운 방법을 제시하다. <br><span class="str">건강한 바디를 위한 영양 밸런스 다이어트, 스키니랩</span></p>
							<p class="sub">무조건 ’살’ 만 빼는 미용 목적의 다이어트가 아닌, <br>과학적인 설계에서 비롯된 스키니랩으로 시작하세요! <br>나를 아는 다이어트, 자기관리의 시작</p>
						</div>
						<div class="thumb">
							<div class="wrap">
								<ul class="list">
									<li>
										<div class="img">
											<img src="{{base}}/img/pc/intro/company-skinnylab-thumb01.jpg" alt=제품이미지">
										</div>
									</li>
									<li>
										<div class="img">
											<img src="{{base}}/img/pc/intro/company-skinnylab-thumb02.jpg" alt="제품이미지">
										</div>
									</li>
									<li>
										<div class="img">
											<img src="{{base}}/img/pc/intro/company-skinnylab-thumb03.jpg" alt="제품이미지">
										</div>
									</li>
								</ul>
								<p class="add">※ 위 제품은 식품의약품안전처로부터 기능성을 인정받은 원료를 사용하여 품목제조신고된 건강기능식품입니다.</p>
							</div>
						</div>
					</div>
				</dd>
			</dl>
			<dl class="item cheonjiyang">
				<dt class="head">
					<h3 class="title">Cheon Ji Yang</h3>
					<div class="logo cheonjiyang"></div>
				</dt>
				<dd class="body">
					<div class="img">
						<img src="{{base}}/img/pc/intro/company-cheonjiyang-img01.jpg" alt="천지양 모델">
					</div>
					<div class="content">
						<p class="title">현대인의 건강에 <br>전통 원료의 이로움을 더하다.</p>
						<div class="desc">
							<p class="main">지친 현대인들에게 꼭 필요한 영양소에 <br>건강에 도움을 준다고 예로부터 전해져 내려온 <br><span class="str">전통 원료를 천지양 연구소만의 배합으로 블렌딩했습니다.</span></p>
							<p class="sub">천지양 브랜드의 연구개발을 통한 <br>15년의 노하우로 심혈을 기울여 과학적 원리에 <br>따라 만든 레시피를 만나보세요.</p>
						</div>
						<div class="thumb">
							<div class="wrap">
								<ul class="list">
									<li>
										<div class="img">
											<img src="{{base}}/img/pc/intro/company-cheonjiyang-thumb01.jpg" alt=제품이미지">
										</div>
									</li>
								</ul>
								<p class="add">※ 위 제품은 식품의약품 안전처로부터 <br>기능성을 인정받은 원료를 사용하여 <br>품목제조신고된 건강기능식품입니다.</p>
							</div>
							<div class="wrap">
								<ul class="list">
									<li>
										<div class="img">
											<img src="{{base}}/img/pc/intro/company-cheonjiyang-thumb02.jpg" alt="제품이미지">
										</div>
									</li>
									<li>
										<div class="img">
											<img src="{{base}}/img/pc/intro/company-cheonjiyang-thumb03.jpg" alt="제품이미지">
										</div>
									</li>
								</ul>
								<p class="add">※ 위제품은 천지양 연구소가 엄선하여 만든 일반식품입니다.</p>
							</div>
						</div>
					</div>
				</dd>
			</dl>
			<dl class="item fitness">
				<dt class="head">
					<h3 class="title">Fitness store</h3>
					<div class="logo fitness"></div>
				</dt>
				<dd class="body">
					<div class="img">
						<img src="{{base}}/img/pc/intro/company-fitness-img01.jpg" alt="피트니스스토어 모델">
					</div>
					<div class="content">
						<p class="title">매일 나와의 싸움에서 승리하는 <br>바디메이커를 위해!</p>
						<div class="desc">
							<p class="main">세상의 기준이 아닌 나만의 기준으로 <br>매일 나와 경쟁하는 Body Maker를 위한 <br><span class="str">Personal Care Food 전문 쇼핑 플랫폼 피트니스스토어!</span></p>
							<p class="sub">피트니스스토어는 고객니즈를 반영한 <br>Privat Brand  wayfit, Exlab과 <br>입점사들의 Trendy 상품으로 Body Maker를 응원합니다!</p>
						</div>
						<div class="thumb">
							<div class="wrap">
								<ul class="list">
									<li>
										<div class="img">
											<img src="{{base}}/img/pc/intro/company-fitness-thumb01.jpg" alt=제품이미지">
										</div>
									</li>
									<li>
										<div class="img">
											<img src="{{base}}/img/pc/intro/company-fitness-thumb02.jpg" alt=제품이미지">
										</div>
									</li>
									<li>
										<div class="img">
											<img src="{{base}}/img/pc/intro/company-fitness-thumb03.jpg" alt=제품이미지">
										</div>
									</li>
								</ul>
								<p class="add">※ 위 제품은 피트니스스토어에서 엄선하여 만든 일반식품입니다.</p>
							</div>
						</div>
					</div>
				</dd>
			</dl>
		</div>
	</div>
</div>
<!-- // Content -->
{%- endblock %}