{%
	set pageInfo = {
		section: 'search',
		title: '통합검색',
		order: '1'
	}
%}
{% extends site + '/@inc/layout.html' %}

{% block content -%}
<header class="page-header search">
	<div class="wrap">
		{{ include('../@inc/sub-header.html') }}
		<span class="page-title hide">{{pageInfo.title}}</span>
	</div>
	{{ include('../@inc/search.html') }}
</header>
<div id="content-main" class="common-container section-{{pageInfo.section}} {{pageInfo.section}}-review">
	
	<form action="about:blank" method="get" class="search-box">
		<div class="search js-text-clear">
			<label for="search" class="hide">검색</label>
			<input type="text" id="search" name="search" value="" placeholder="검색어를 입력하세요." class="input">
			<button type="button" class="btn-clear">입력값 지우기</button>
			<button type="button" class="btn-submit">검색하기</button>
		</div>
	</form>	

	<!-- 스와이퍼 탭 메뉴// -->
	<div class="tab-menu tab4 overline">
		<div class="wrap">
			<ul class="list">
				<li>
					<a href="./product.html">
						상품 (17)
					</a>
				</li>
				<li class="is-active">
					<a href="./review.html">
						리뷰 (185)
					</a>
				</li>
				<li>
					<a href="./exhibition.html">
						기획전(21)
					</a>
				</li>
				<li>
					<a href="./event.html">
						이벤트(15)
					</a>
				</li>
			</ul>
		</div>
	</div>
	<!-- //스와이퍼 탭 메뉴 -->
	
	<div class="main-wrap">
		<!-- 통합검색 상품 목록 -->

		<ul class="review-list">
			{% for i in range(1, 41) -%}
			<li class="wrap">
				<a href="#">
					<figure class="review-item">
						<div class="img">
							<img src="{{base}}/img/pc/@dummy/review-thumb-img01.jpg" alt="">
							<span class="photo-num">5</span>
						</div>
						<figcaption class="content">
							<div class="point">
								<em>4.9</em>
								<span class="star-bg">
									<span class= "star" style="width: 100%;"></span>
								</span>
							</div>
							<p class="title">행복한 시서스 다이어트 14정 x 2박스 4주분+워터밤 콜라겐···</p>
							<p class="dec">작년에 다**트로 10키로를 빼고 요즘 나태해져서 요요가 오고있어서, 보*제를 검색하다 먹기에 편한 알약 상...</p>
							<p class="name">홍*동</p>
						</figcaption>
					</figure>
				</a>
			</li>
			{% endfor %}
			<!-- 검색 결과 없을때 // -->
			<!-- <li class="empty">
				<p class="desc">검색 결과가 없습니다.</p>
			</li> -->
			<!-- // 검색 결과 없을때 -->
		</ul>

		<div class="btn-group center">
			<button type="button" class="btn-list-more">
				더보기
				<span class="icon-plus"></span>
			</button>
		</div>

		<!--// 통합검색 상품 목록 -->
	</div>
</div>
{%- endblock %}