{%
	set pageInfo = {
		section: 'event',
		title: '이벤트',
		order: '0'
	}
%}
{% extends site + '/@inc/layout.html' %}

{% block content -%}
<!-- Content // -->
<div id="content-main" class="common-container section-event event-detail">
	<div class="container-wrap">
		<div class="page-head">
			<h2 class="title">이벤트</h2>
		</div>
	</div>

	<div class="tab-menu overline">
		<div class="wrap">
			<ul class="list">
				<li class="selected">
					<a href="#">진행중 이벤트</a>
				</li>
				<li>
					<a href="#">당첨자 발표</a>
				</li>
				<li>
					<a href="#">종료 이벤트</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="container-wrap">
		<div class="board-detail hidden-title">
			<dl class="row">
				<dt>제목</dt>
				<dd>
					<div class="title">
						<div class="wrap">
							<h3 class="desc">
								[1,000명 한정] 스키니랩 DNA 분석 프로젝트
							</h3>
							<p class="date">
								2021-04-01 ~ 2021-04-30
							</p>
						</div>
						<div class="util">
							<div class="share">
								<button type="button" class="btn-open" onclick="$(this).parents('.share').find('.content').show(); return false;">공유하기 열기</button>
								<div class="content">
									<div class="box">
										<ul class="list">
											<li>
												<a href="#">
													<span class="icon facebook"></span>
													<span class="tit">페이스북</span>
												</a>
											</li>
											<li>
												<a href="#">
													<span class="icon kakao"></span>
													<span class="tit">카카오톡</span>
												</a>
											</li>
											<li>
												<a href="#">
													<span class="icon url"></span>
													<span class="tit">URL복사</span>
												</a>
											</li>
										</ul>
										<button type="button" class="btn-close" onclick="$(this).parents('.share').find('.content').hide(); return false;">공유하기 닫기</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</dd>
			</dl>
			<dl class="row">
				<dt>내용</dt>
				<dd>
					<div class="detail-content">
						<!-- HTML 영역 // -->
						<div class="html-area">
							HTML 내용
						</div>
						<!-- HTML 영역 // -->

						<!-- 버튼 영역 // -->
						<div class="btn-area">
							<a href="#" class="btn large primary motion">
								<span>신청하기</span>
							</a>
						</div>
						<!-- // 버튼 영역 -->

						<!-- 문구 영역 // -->
						<div class="detail-noti">
							<p class="title">유의사항</p>
							<ul class="list">
								<li>해당 이용하시이벤트는 스키니랩몰 고객 전용입니다.</li>
								<li>주관사의 사정으로 이벤트 내용 및 기간이 변경딜 수 있습니다.</li>
								<li>반품시 증정되는 상품 개봉 또는 누락 시 반품 불가합니다.</li>
								<li>불법적이거나, 비정상적인 참여 시, 취소될 수 있습니다.</li>
								<li>게시판 성격과 무관한 내용이나  욕설, 광고 문구 등의 경우, 사전 예고 없이 삭제될 수 있습니다.</li>
								<li>문의는 1:1 게시판 혹은 상품 문의를 거나 고객센터로 연락해주세요.</li>
								<li>스키니랩 고객센터 1644-7267</li>
							</ul>
						</div>
						<!-- // 문구 영역 -->
					</div>
				</dd>
			</dl>
		</div>

		<div class="recommend-banner2">
			<div class="head">
				<p class="title">다른 이벤트도 둘러보세요!</p>
			</div>
			<div class="list swiper-container">
				<ul class="wrap swiper-wrapper">
					{% for i in range(0, 4) %}
					<li class="swiper-slide">
						<a href="#">
							<div class="img">
								<img src="{{base}}/img/pc/@dummy/recommend-board-img01.jpg" alt="배너1">
							</div>
						</a>
					</li>
					<li class="swiper-slide">
						<a href="#">
							<div class="img">
								<img src="{{base}}/img/pc/@dummy/recommend-board-img02.jpg" alt="배너2">
							</div>
						</a>
					</li>
					<li class="swiper-slide">
						<a href="#">
							<div class="img">
								<img src="{{base}}/img/pc/@dummy/recommend-board-img03.jpg" alt="배너2">
							</div>
						</a>
					</li>
					{% endfor %}
					<!-- // 다른 게시물이 없을때 -->
					<!-- <li class="swiper-slide">
						<p class="empty">
							다른 게시물이 없습니다.
						</p>
					</li> -->
					<!-- 다른 게시물이 없을때 // -->
				</ul>
			</div>
			<div class="action">
				<p class="pagination"></p>
				<div class="play">
					<button type="button" class="btn-prev swiper-button-prev"></button>
					<button type="button" class="btn-autoplay swiper-button-autoplay"></button>
					<button type="button" class="btn-next swiper-button-next"></button>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	// 관련기획전 캐러셀
	var recommendBannerSwiper = new Swiper('.recommend-banner2 .list', {
		autoplay: {
			delay: 3000
		},
		speed: 1000,
		loop: true,
		slidesPerView: 3,
		slidesPerGroup: 3 ,
		initialSlide: 0,
		spaceBetween: 45,
		allowTouchMove: false,
		pagination: {
			el: '.recommend-banner2 .pagination',
			type: 'fraction',
			formatFractionCurrent: function(number) {
				return number < 10 ? '0' + number : number;
			},
			formatFractionTotal: function(number) {
				return number < 10 ? '0' + number : number;
			}
		},
		navigation: {
			nextEl: '.recommend-banner2 .swiper-button-next',
			prevEl: '.recommend-banner2 .swiper-button-prev',
		}
	});

	$('.recommend-banner2 .btn-autoplay').on('click', function() {
		var $this = $(this);
		
		if($this.hasClass('is-stop')) {
			recommendBannerSwiper.autoplay.start();
		} else {
			recommendBannerSwiper.autoplay.stop();
		}

		$this.toggleClass('is-stop');
	});
</script>
<!-- // Content -->

<script>
	$('.check-stamp').on('click', 'input[type=checkbox]', function(e) {
			$checkStamp = $(e.target);

		if(!$checkStamp.is(':checked')) return false;
		});
</script>
{%- endblock %}